<div class="modal-header">
    <span *ngIf="scouts.length <= 1" class="my-modal-title" translate>
        delete-scout.title-one
    </span>
    <span *ngIf="scouts.length > 1" class="my-modal-title" translate>
        delete-scout.title-multiple
    </span>
</div>

<div class="modal-body">

    <ng-container *ngIf="pageLoaded">

        <div class="d-flex align-items-center">
            <img src="../../../../assets/icons/alert.svg" width="30" height="30" class="mr-4" />
            <span translate>
                delete-scout.alert
            </span>
        </div>

        <br>
        <span>
            <span translate>
                delete-scout.about-to-delete
            </span>({{scouts.length}}):
        </span>

        <div class="my-table-container" style="max-height: 35vh; overflow-y: auto;">
            <table class="table">
                <tbody>
                    <tr *ngFor="let scout of scouts">
                        <td>{{scout.name}} {{scout.surname}} <br> {{scout.troop.name}} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex align-items-center mt-2">
            <label class="required">
                <input type="checkbox" class="select-all checkbox cursor-pointer" [(ngModel)]="accept" />
                <span translate>
                    delete-scout.aware
                </span>
            </label>
        </div>

    </ng-container>

</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>
        <button class="btn btn-danger my-button" [disabled]="!accept" (click)="delete()" translate>
            actions.delete
        </button>
    </div>
</div>