<div class="modal-header">
    <span class="my-modal-title" translate>
        scout-info.title
    </span>
</div>

<div class="modal-body">

    <div class="row">

        <div class="col">
            <div class="d-flex align-items-center mb-1">
                <img src="../../../../assets/icons/person.svg" class="icon mr-2" />
                <span class="label-medium" translate>
                    common.personal-data
                </span>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    common.name
                </div>
                <div class="col big">
                    <span *ngIf="scoutInfo.name; else noData">
                        {{scoutInfo.name}}
                    </span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    common.surname
                </div>
                <div class="col big">
                    <span *ngIf="scoutInfo.surname; else noData">
                        {{scoutInfo.surname}}
                    </span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.birth-date
                </div>
                <div class="col">
                    <span *ngIf="scoutInfo.birthDate; else noData">
                        {{scoutInfo.birthDate}}
                    </span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.personal-id
                </div>
                <div class="col">
                    <span *ngIf="scoutInfo.pesel; else noData">
                        {{scoutInfo.pesel}}
                    </span>
                </div>
            </div>

            <div class="d-flex align-items-center mb-1 mt-4">
                <img src="../../../../assets/icons/address.svg" class="icon mr-2" />
                <span class="label-medium" translate>
                    scouts.address
                </span>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.full-address
                </div>
                <div class="col">
                    <span *ngIf="scoutInfo.address || scoutInfo.postalCode || scoutInfo.city; else noData">
                        {{scoutInfo.address}} <br> {{scoutInfo.postalCode}} {{scoutInfo.city}}
                    </span>
                </div>
            </div>

            <div class="d-flex align-items-center mb-1 mt-4">
                <img src="../../../../assets/icons/phone.svg" class="icon mr-2" />
                <span class="label-medium" translate>
                    scouts.contact-data
                </span>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.phone-number
                </div>
                <div class="col">
                    <span *ngIf="scoutInfo.phone; else noData">
                        {{scoutInfo.phone}}
                    </span>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="d-flex align-items-center mb-1">
                <img src="../../../../assets/icons/rank.svg" class="icon mr-2" />
                <span class="label-medium" translate>
                    scouts.ranks
                </span>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.rank
                </div>
                <div class="col">
                    <span *ngIf="scoutInfo.rankName; else noData">
                        <span translate>
                            {{scoutInfo.rankName}}
                        </span>
                    </span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.instructor-rank
                </div>
                <div class="col">
                    <span [ngClass]="[scoutInfo.instructorRankLabel]" *ngIf="scoutInfo.instructorRankName; else noData">
                        <span translate>
                            {{scoutInfo.instructorRankName}}
                        </span>
                    </span>
                </div>
            </div>

            <div class="d-flex align-items-center mb-1 mt-4">
                <img src="../../../../assets/icons/group.svg" class="icon mr-2" />
                <span class="label-medium" translate>
                    scouts.membershp
                </span>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.patrol
                </div>
                <div class="col">
                    <span *ngIf="scoutInfo.troop; else noData">
                        {{scoutInfo.troop}}
                    </span>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col" translate>
                    scouts.roles
                </div>
                <div class="col">
                    <ng-container *ngIf="scoutInfo.roles.length > 0; else noData">
                        <div class="d-flex flex-column">
                            <span *ngFor="let role of scoutInfo.roles" [ngClass]="[role.label, 'mb-1']">
                                <span translate>
                                    {{role.name}}
                                </span>
                            </span>
                        </div>
                    </ng-container>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>
    </div>
</div>

<ng-template #noData>
    <span>-</span>
</ng-template>