.my-page-side-poster {
  background: url(../../../assets/images/troops-bg.png) top right no-repeat;
  background-size: 160%;
  background-position: 10% 100%;
}

.icon {
  background-image: url(../../../assets/icons/question.svg);
  background-size: cover;

  width: 40px;
  height: 40px;
}
