<app-menu></app-menu>

<div class="d-flex">

    <div class="my-page-side-container my-container-menu">

        <ng-container *ngIf="pageLoaded; else loading">

            <!-- ERROR HANDLING -->
            <div *ngIf="pageError">
                <app-error [error]="pageError"></app-error>
            </div>

            <!-- PAGE CONTENT -->
            <div *ngIf="!pageError">

                <app-page-header [header]="'Ewidencja'" [goBackUrl]="'/home'"></app-page-header>

                <!-- TEAMS -->
                <div class="pt-3 border-top">

                    <div class="d-flex justify-content-between mb-2">
                        <h5>Zarządzaj harcerzami ({{scouts.length}})</h5>

                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle my-button" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false" (click)="setActions()">
                                Opcje
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                <ng-container *ngFor="let action of actions | keyvalue">
                                    <button class="dropdown-item" (click)="action.value.action();"
                                        [disabled]="!action.value.isEnabled">{{action.value.label}}</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- teams table -->
                    <div class="mt-3" style="height: 55vh; overflow-y: auto;">
                        <table class="table table-hover">
                            <thead class="my-thead">
                                <th class="checkbox-cell">
                                    <input type="checkbox" class="cursor-pointer ml-n2" [(ngModel)]="allSelected"
                                        (ngModelChange)="toggleSelectAll($event)">
                                </th>
                                <th mat-sort-header="nameSurname">Imię i nazwisko</th>
                                <th mat-sort-header="troop">Zastęp</th>
                                <th mat-sort-header="function">Funkcja</th>
                                <th mat-sort-header="rank">Stopień</th>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let scout of scouts; let i=index">
                                    <tr class="cursor-pointer" [ngClass]="{'selected': scout.isSelected}"
                                        (click)="toggleSelected(scout)">

                                        <td class="checkbox-cell">
                                            <input type="checkbox" class="cursor-pointer ml-n2"
                                                [(ngModel)]="scout.isSelected">
                                        </td>
                                        <td>
                                            <span *ngIf="scout.nameSurname; else noData">
                                                <a href="#">{{scout.nameSurname}}</a>
                                            </span>
                                        </td>
                                        <td *ngIf="scout.troop; else noData">
                                            <span>{{scout.troop}}</span>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="scout.roles.length > 0; else noData">
                                                <div class="d-flex flex-column">
                                                    <span *ngFor="let role of scout.roles"
                                                        [ngClass]="[role.label, 'mb-2']">
                                                        {{role.name}}
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <div *ngIf="scout.rankName; else noData" class="d-flex flex-column">
                                                <span [ngClass]="[scout.instructorRankLabel]">
                                                    {{scout.rankName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </ng-container>

    </div>

    <!-- LEFT POSTER -->
    <div class="my-page-side-poster"></div>
</div>

<app-footer></app-footer>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>

<ng-template #noTableData>
    <tr colspan="8">
        Brak danych
    </tr>
</ng-template>

<ng-template #noData>
    <span>-</span>
</ng-template>









<!-- <main role="main" class="container">
    <h1 class="mt-5">Ewidencja harcerzy</h1>

    <div class="d-flex justify-content-between mb-2">
        <button class="btn btn-success" (click)="openAddScouts()">Dodaj</button>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mr-2">Statystyki</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="setActions()">
                    Opcje
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <ng-container *ngFor="let action of menuActions | keyvalue">
                        <button class="dropdown-item cursor-pointer" [disabled]="!action.value.isEnabled"
                            (click)="action.value.execute()">{{action.value.label}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div>
        <table class="table" matSort (matSortChange)="sortData($event)">
            <thead>
                <th class="active">
                    <input type="checkbox" class="select-all checkbox cursor-pointer" name="select-all"
                        (click)="toggleSelectAll()" [(ngModel)]="allSelected" />
                </th>
                <th mat-sort-header="name">Imię</th>
                <th mat-sort-header="surname">Nazwisko</th>
                <th mat-sort-header="troop">Zastęp</th>
                <th mat-sort-header="function">Funkcja</th>
                <th mat-sort-header="rank">Stopień</th>
                <th>&nbsp;</th>
            </thead>
            <tbody *ngIf="pageLoaded">
                <ng-container *ngFor="let scout of scoutsscouts; let i=index">
                    <tr class="cursor-pointer" [ngClass]="{'my-scout': true, 'my-scout-selected': scout.isSelected}"
                        (click)="toggleSelect(scout)">
                        <td>
                            <input type="checkbox" class="select-item checkbox" name="select-item" value="1000"
                                [(ngModel)]="scout.isSelected" />
                        </td>
                        <td>
                            <span *ngIf="scout.scoutInfo.name; else noData">
                                {{scout.name}}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="scout.scoutInfo.surname; else noData">
                                {{scout.surname}}
                            </span>
                        </td>
                        <td *ngIf="scout.scoutInfo.troop.name; else noData">
                            <span>{{scout.troop}}</span>
                        </td>
                        <td>
                            <ng-container *ngIf="scout.scoutRoles.length > 0; else noData">
                                <span *ngFor="let role of scout.scoutRoles">
                                    {{role.name}}<br>
                                </span>
                            </ng-container>
                        </td>
                        <td>
                            <span *ngIf="scout.scoutInfo.rank.name; else noData">
                                <span *ngIf="scout.scoutInfo.instructorRank?.abbreviation">
                                    {{scout.scoutInfo.instructorRank?.abbreviation}}
                                </span> {{scout.rank}}
                            </span>
                        </td>
                        <td style="width: 110px;">
                            <button class="btn btn-secondary"
                                (click)="$event.stopPropagation(); toggleMore(scout)">Więcej</button>
                        </td>
                    </tr>
                    <tr *ngIf="scout.moreVisible">
                        <td></td>
                        <td colspan="6">
                            <div class='scout'>
                                <div class="col-md-2">
                                    <div class="scout">Pesel:</div>
                                    <div class="scout">Data urodzenia:</div>
                                    <div class="scout">Adres:</div>
                                    <div class="scout">Numer kontaktowy:</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="scout">{{scout.scoutInfo.pesel}}</div>
                                    <div class="scout">{{scout.scoutInfo.birthDate | date: 'dd-MM-yyyy'}}</div>
                                    <div class="scout">{{scout.scoutInfo.address}} {{scout.scoutInfo.postalCode}}
                                        {{scout.scoutInfo.city}}</div>
                                    <div class="scout">{{scout.scoutInfo.phone}}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="!pageLoaded" class="d-flex justify-content-center mb-4 mt-4">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div>
        <button class="btn btn-secondary btn-block" routerLink="/home">Powrót</button>
    </div>
</main>

<ng-template #noTableData>
    <tr colspan="8">
        Brak danych
    </tr>
</ng-template>

<ng-template #noData>
    -
</ng-template> -->