<app-menu></app-menu>

<main role="main" class="container">
    <h1 class="mt-5">Ewidencja harcerzy</h1>

    <div class="d-flex justify-content-between mb-2">
        <button class="btn btn-success" (click)="openAddScouts()">Dodaj</button>

        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mr-2">Statystyki</button>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="setActions()">
                    Opcje
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <ng-container *ngFor="let action of menuActions | keyvalue">
                        <button class="dropdown-item cursor-pointer" [disabled]="!action.value.isEnabled"
                            (click)="action.value.execute()">{{action.value.label}}</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div>
        <table class="table" matSort (matSortChange)="sortData($event)">
            <thead>
                <th class="active">
                    <input type="checkbox" class="select-all checkbox cursor-pointer" name="select-all"
                        (click)="toggleSelectAll()" [(ngModel)]="allSelected" />
                </th>
                <th mat-sort-header="name">Imię</th>
                <th mat-sort-header="surname">Nazwisko</th>
                <th mat-sort-header="troop">Zastęp</th>
                <th>Funkcja</th>
                <th mat-sort-header="rank">Stopień</th>
                <th>&nbsp;</th>
            </thead>
            <tbody *ngIf="pageLoaded">
                <ng-container *ngFor="let row of scoutsRows; let i=index">
                    <tr class="cursor-pointer" [ngClass]="{'my-row': true, 'my-row-selected': row.isSelected}"
                        (click)="toggleSelect(row)">
                        <td>
                            <input type="checkbox" class="select-item checkbox" name="select-item" value="1000"
                                [(ngModel)]="row.isSelected" />
                        </td>
                        <td>
                            <span *ngIf="row.scoutInfo.name; else noData">
                                {{row.name}}
                            </span>
                        </td>
                        <td>
                            <span *ngIf="row.scoutInfo.surname; else noData">
                                {{row.surname}}
                            </span>
                        </td>
                        <td *ngIf="row.scoutInfo.troop.name; else noData">
                            <span>{{row.troop}}</span>
                        </td>
                        <td>
                            <ng-container *ngIf="row.scoutRoles.length > 0; else noData">
                                <span *ngFor="let role of row.scoutRoles">
                                    {{role.name}}<br>
                                </span>
                            </ng-container>
                        </td>
                        <td>
                            <span *ngIf="row.scoutInfo.rank.name; else noData">
                                <span *ngIf="row.scoutInfo.instructorRank?.abbreviation">
                                    {{row.scoutInfo.instructorRank?.abbreviation}}
                                </span> {{row.rank}}
                            </span>
                        </td>
                        <td style="width: 110px;">
                            <button class="btn btn-secondary"
                                (click)="$event.stopPropagation(); toggleMore(row)">Więcej</button>
                        </td>
                    </tr>
                    <tr *ngIf="row.moreVisible">
                        <td></td>
                        <td colspan="6">
                            <div class='row'>
                                <div class="col-md-2">
                                    <div class="row">Pesel:</div>
                                    <div class="row">Data urodzenia:</div>
                                    <div class="row">Adres:</div>
                                    <div class="row">Numer kontaktowy:</div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">{{row.scoutInfo.pesel}}</div>
                                    <div class="row">{{row.scoutInfo.birthDate | date: 'dd-MM-yyyy'}}</div>
                                    <div class="row">{{row.scoutInfo.address}} {{row.scoutInfo.postalCode}}
                                        {{row.scoutInfo.city}}</div>
                                    <div class="row">{{row.scoutInfo.phone}}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="!pageLoaded" class="d-flex justify-content-center mb-4 mt-4">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div>
        <button class="btn btn-secondary btn-block" routerLink="/home">Powrót</button>
    </div>
</main>

<ng-template #noTableData>
    <tr colspan="8">
        Brak danych
    </tr>
</ng-template>

<ng-template #noData>
    -
</ng-template>