<app-menu></app-menu>

<div class="d-flex">

    <div class="my-page-side-container my-container-menu">

        <div *ngIf="pageLoaded; else loading">

            <!-- ERROR HANDLING -->
            <div *ngIf="pageError">
                <app-error [error]="pageError"></app-error>
            </div>

            <!-- PAGE CONTENT -->
            <div *ngIf="!pageError">

                <app-page-header [header]="'menu.records' | translate" [goBackRoute]="AppRoutes.HOME"></app-page-header>

                <!-- SCOUTS -->
                <div class="mb-2 page-header-container">
                    <span>
                        <span translate>
                            scouts.manage-scouts
                        </span> ({{scouts.length}})
                    </span>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle my-button" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            (click)="setActions()" translate>
                            common.options
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <ng-container *ngFor="let action of actions | keyvalue">
                                <button class="dropdown-item" (click)="action.value.action();"
                                    [disabled]="!action.value.isEnabled" translate>
                                    {{action.value.label}}
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- scouts table -->
                <div class="mt-3 table-container-page-menu">
                    <table class="table table-hover">
                        <thead class="my-thead">
                            <th class="checkbox-cell">
                                <input type="checkbox" class="cursor-pointer ml-n2" [(ngModel)]="allSelected"
                                    (ngModelChange)="toggleSelectAll($event)">
                            </th>
                            <th translate>
                                scouts.name-surname
                            </th>
                            <th translate>
                                scouts.troop
                            </th>
                            <th translate>
                                scouts.role
                            </th>
                            <th translate>
                                scouts.rank
                            </th>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="scouts.length > 0; else noTableData">
                                <ng-container *ngFor="let scout of scouts; let i=index">
                                    <tr class="cursor-pointer" [ngClass]="{'selected': scout.isSelected}"
                                        (click)="toggleSelected(scout)">

                                        <td class="checkbox-cell">
                                            <input type="checkbox" class="cursor-pointer ml-n2"
                                                [(ngModel)]="scout.isSelected">
                                        </td>
                                        <td>
                                            <span *ngIf="scout.nameSurname; else noData">
                                                <a class="link-primary"
                                                    (click)="openShowInfoModal(scout.scoutObject, scout.rolesList); $event.stopPropagation()">{{scout.nameSurname}}</a>
                                            </span>
                                        </td>
                                        <td *ngIf="scout.troop; else noData">
                                            <span>{{scout.troop}}</span>
                                        </td>
                                        <td>
                                            <ng-container *ngIf="scout.roles.length > 0; else noData">
                                                <div class="d-flex flex-column">
                                                    <span *ngFor="let role of scout.roles"
                                                        [ngClass]="[role.label, 'mb-1']" translate>
                                                        {{role.name}}
                                                    </span>
                                                </div>
                                            </ng-container>
                                        </td>
                                        <td>
                                            <div *ngIf="scout.rankName; else noData" class="d-flex align-items-center">
                                                <span *ngIf="scout.instructorRankLabel"
                                                    [ngClass]="[scout.instructorRankLabel]" class="mr-2" translate>
                                                    {{scout.instructorRankAbbv}}
                                                </span>
                                                <span translate>
                                                    {{scout.rankName}}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <!-- LEFT POSTER -->
    <div class="my-page-side-poster"></div>
</div>

<app-footer></app-footer>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>

<ng-template #noTableData>
    <tr>
        <td colspan="5" translate>
            common.no-data
        </td>
    </tr>
</ng-template>