.my-page-side-poster {
  background: url("../../../assets/images/scouts-bg.png");
}

.icon {
  background-image: url(../../../assets/icons/question.svg);
  background-size: cover;

  width: 40px;
  height: 40px;
}
