/* You can add global styles to this file, and also import other style files */

/* Color theme */
:root {
  --primary-color: #00562b;
  --secondary-color: #70201f;
  --accent-color: #fea521;
  --background-color: #e7dfc5;
}

/*Fonts*/

@font-face {
  font-family: 'primary-font';
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'secondary-font';
  src: url('/assets/fonts/Montserrat-Medium.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: primary-font, serif;
}

body {
  font-family: secondary-font, serif;
}

.rootContainer {
  width: 85%;
  display: block;
  margin: 0 auto;
}

/*Global styles*/

.my-page-content-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  height: 100vh;

  width: 85%;
  margin: 0 auto;
}

.my-page-content-container-with-menu {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  /*MENU HAS 10vh*/
  min-height: 90vh;
  padding: 10px;

  width: 85%;
  margin: 0 auto;
}

.my-input {
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  padding: 10px;

  border: solid 3px var(--secondary-color);
}

.my-login-input {
  margin-bottom: 10px;
  width: 250px;
  height: 40px;
  padding: 10px;

  border: solid 3px var(--primary-color);
}

.my-select {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;

  width: 200px;

  color: white;
  background-color: var(--primary-color);
}

.my-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.my-form-column {
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.my-checkbox input {
  width: 20px
}

.button-primary, .button-secondary {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  margin: 5px 2px;

  padding: 8px;
  opacity: 1.0;

  width: 200px;
  transition: opacity 0.5s;
}

.button-primary:hover, .button-secondary:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}

.button-primary:disabled, .button-secondary:disabled {
  cursor: inherit;
  opacity: 0.6;
}

.button-primary {
  color: white;
  background-color: var(--primary-color);
}

.button-secondary {
  color: white;
  background-color: var(--secondary-color);
}

.my-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px 5px;
  margin: 0;
}

.my-table-2 {
  border-collapse: separate;
  border-spacing: 15px 5px;
  margin: 0;
}
