<div class="modal-header">
    <span class="my-modal-title" *ngIf="modalMode === ModalModes.ADD">Dodaj nową jednotkę</span>
    <span class="my-modal-title" *ngIf="modalMode === ModalModes.EDIT">Edytuj jednotkę</span>
</div>

<div class="modal-body">
    <form [formGroup]="form">

        <!-- ADD NEW TEAM -->
        <div class="form-group">

            <!-- Name -->
            <div class="row mb-2">
                <label for="name" class="col-sm-2 col-form-label required">Nazwa</label>
                <div class="col">
                    <input id="name" type="text" class="form-control" formControlName="name">

                    <!-- Errors -->
                    <div class="d-flex flex-column" *ngIf="name.errors && name.dirty">
                        <small class="alert-danger" *ngIf="name.hasError('required')">Pole
                            wymagane</small>
                    </div>
                </div>
            </div>

            <!-- Patron -->
            <div class="row mb-2">
                <label for="patron" class="col-sm-2 col-form-label">Patron</label>
                <div class="col">
                    <input id="patron" type="text" class="form-control" formControlName="patron">
                    <div class="d-flex flex-column">
                        <small>Proszę podać patrona w formie odmienionej np. "im. Jerzego
                            Grodyńskiego"</small>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()">Zamknij</button>

        <button *ngIf="modalMode === ModalModes.ADD" type="button" class="btn btn-success my-button" (click)="addTeam()"
            [disabled]="!form.valid">Dodaj</button>

        <button *ngIf="modalMode === ModalModes.EDIT" type="button" class="btn btn-success my-button"
            (click)="editTeam()" [disabled]="!form.valid">Edytuj</button>
    </div>
</div>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>