<div class="modal-header">
    <span class="my-modal-title" *ngIf="modalMode === ModalModes.ADD" translate>
        teams.add-edit-team.title-add
    </span>
    <span class="my-modal-title" *ngIf="modalMode === ModalModes.EDIT" translate>
        teams.add-edit-team.title-edit
    </span>
</div>

<div class="modal-body">
    <form [formGroup]="form">

        <!-- ADD NEW TEAM -->
        <div class="form-group">

            <!-- Name -->
            <div class="row mb-2">
                <label for="name" class="col-sm-2 col-form-label required" translate>
                    teams.name
                </label>
                <div class="col">
                    <input id="name" type="text" class="form-control" formControlName="name">

                    <!-- Errors -->
                    <div class="d-flex flex-column" *ngIf="name.errors && name.dirty">
                        <small class="alert-danger" *ngIf="name.hasError('required')" translate>
                            errors.input-required
                        </small>
                    </div>
                </div>
            </div>

            <!-- Patron -->
            <div class="row mb-2">
                <label for="patron" class="col-sm-2 col-form-label" translate>
                    teams.patron
                </label>
                <div class="col">
                    <input id="patron" type="text" class="form-control" formControlName="patron">
                    <div class="d-flex flex-column">
                        <small translate>
                            teams.patron-info
                        </small>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>

        <button *ngIf="modalMode === ModalModes.ADD" type="button" class="btn btn-success my-button" (click)="addTeam()"
            [disabled]="!form.valid" translate>
            actions.add
        </button>

        <button *ngIf="modalMode === ModalModes.EDIT" type="button" class="btn btn-success my-button"
            (click)="editTeam()" [disabled]="!form.valid" translate>
            actions.edit
        </button>
    </div>
</div>