.menu {
  min-height: 10vh;
  background-color: var(--primary-default);
}

.menu-button {
  transition: opacity 0.2s;
  opacity: 0.5;

  color: var(--foreground-default);
  cursor: pointer;
}

.menu-button:hover {
  transition: opacity 0.2s;
  opacity: 0.6;
}

.active {
  transition: opacity 0.2s;
  opacity: 0.9;
}

.active:hover {
  transition: opacity 0.2s;
  opacity: 1;
}
