<nav class="navbar navbar-expand-md menu">

    <!-- TOGGLE BUTTON -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV CONTAINER -->
    <div class="collapse navbar-collapse" id="nav">
        <div class="container">

            <!-- left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link menu-button active" routerLink='/home'>Strona główna</a>
                </li>

                <ng-container *ngIf="!lockedOptions">
                    <div>
                        <li class="nav-item">
                            <a class="nav-link menu-button" routerLink='/scouts'>Ewidencja</a>
                        </li>
                    </div>

                    <div>
                        <li class="nav-item">
                            <a class="nav-link menu-button" routerLink='/troops'>Zastępy</a>
                        </li>
                    </div>

                    <div>
                        <li class="nav-item">
                            <a class="nav-link menu-button" routerLink='/meetings'>Zbiórki</a>
                        </li>
                    </div>
                </ng-container>

            </ul>

            <!-- right -->
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link menu-button" (click)="settings()">Ustawienia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu-button" (click)="logout()">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>