<div class="modal-header">
    <span class="my-modal-title" translate>
        session-expired.title
    </span>
</div>

<div class="modal-body">
    <div class="d-flex align-items-center">
        <span translate>
            session-expired.login-info
        </span>
    </div>
</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-primary" (click)="logout()" translate>
            session-expired.logout
        </button>
    </div>
</div>