<div class="page-container">
    <div class="login-container-wrapper">

        <!-- FORM CONTROLS -->
        <div class="login-container">
            <form [formGroup]="loginForm" (submit)="onSubmit()">

                <h2 class="text-center title">Menadżer drużyny harcerskiej</h2>
                <br>
                <div class="form-group">

                    <!-- Login -->
                    <input type="text" class="form-control mb-3" placeholder="Email" formControlName="email" autofocus>

                    <!-- Password -->
                    <input type="password" class="form-control" placeholder="Hasło" formControlName="password">

                    <!-- Submit -->
                    <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="!loginForm.valid">
                        <span *ngIf="!loginInProgress">Zaloguj</span>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="loginInProgress"></span>
                    </button>

                    <!-- Errors -->
                    <div class="d-flex flex-column" *ngIf="loginError === true && !loginInProgress">
                        <small class="alert-danger">Błąd połączenia z serwerem</small>
                    </div>
                    <div class="d-flex flex-column" *ngIf="loginResult === false && !loginInProgress">
                        <small class="alert-danger">Nieprawidłowe dane logowania</small>
                    </div>
                </div>
            </form>
            <p class="text-center"><a class="link" (click)="navigateToAddUser()">Dodaj użytkownika</a></p>
        </div>

        <!-- ZHR LOGO -->
        <div class="zhr-logo-container">
            <img src="../../../assets/icons/zhr-3.svg" height="100px">
            <span>Na podstawie metodyki</span>
            <a class="link" href="https://www.zhr.pl/">Związku Harcerstwa Rzeczypospolitej</a>
        </div>
    </div>
</div>

<app-footer></app-footer>