<div class="page-container">
    <div class="login-container-wrapper">

        <!-- FORM CONTROLS -->
        <div class="login-container">
            <form [formGroup]="loginForm" (submit)="onSubmit()">

                <h2 class="text-center title" translate>app.title-long</h2>
                <br>
                <div class="form-group">

                    <!-- Login -->
                    <input type="text" class="form-control mb-3" placeholder="Email" formControlName="email" autofocus>

                    <!-- Password -->
                    <input type="password" class="form-control" placeholder="Hasło" formControlName="password">

                    <!-- Submit -->
                    <button type="submit" class="btn btn-primary btn-block mt-4" [disabled]="!loginForm.valid">
                        <span *ngIf="!loginInProgress" translate>
                            actions.login
                        </span>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="loginInProgress"></span>
                    </button>

                    <!-- Errors -->
                    <div class="d-flex flex-column" *ngIf="pageError && !loginInProgress">
                        <small class="alert-danger" translate>
                            {{pageError}}
                        </small>
                    </div>
                </div>
            </form>
            <p class="text-center">
                <a class="link cursor-pointer" (click)="navigateToAddUser()" translate>
                    login.add-user
                </a>
            </p>
        </div>

        <!-- ZHR LOGO -->
        <div class="zhr-logo-container">
            <img src="../../../assets/icons/zhr-3.svg" height="100px">
            <span translate>
                login.zhr-based
            </span>
            <a class="link cursor-pointer" href="https://www.zhr.pl/" translate>
                login.zhr-name-conjugated
            </a>
        </div>
    </div>

    <!-- LANGUAGES -->
    <div *ngIf="languagesLoaded" class="languages">
        <div class="dropup">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">

                <img *ngIf="!currentLanguageId" src="../../../../assets/icons/language.svg" class="mr-2" width="30"
                    height="30" alt="language-icon" />

                <img *ngIf="currentLanguageId"
                    src="{{'../../../../assets/icons/translations/'+ currentLanguageId + '.svg'}}" class="mr-2"
                    width="30" height="30" alt="language-icon" />

            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let lang of languages" class="dropdown-item cursor-pointer" (click)="setOutLanguage(lang)">
                    <div class="d-flex align-items-center">
                        <img src="{{'../../../../assets/icons/translations/'+ lang.languageId + '.svg'}}" class="mr-2"
                            width="20" height="20" alt="language-icon" />
                        <span translate>
                            {{lang.name}}
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>