<div class="d-flex">

    <div class="container-clean add-user-container">
        <h1>Dodaj drużynowego</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit in felis at posuere.
            Nullam
            porttitor viverra pharetra. Suspendisse vel finibus elit, vitae iaculis libero. Vivamus non laoreet metus,
            sit
            amet elementum leo. </p>

        <form [formGroup]="addUserForm">

            <!-- CREDENTIALS -->
            <div class="form-group">
                <h5>Dane osobowe</h5>

                <!-- Name -->
                <div class="row mb-2">
                    <label for="name" class="col-sm-3 col-form-label required">Imię</label>
                    <div class="col-sm-9">
                        <input id="name" type="text" class="form-control" formControlName="userName">

                        <!-- Errors -->
                        <div class="d-flex flex-column" *ngIf="userName.errors && userName.dirty">
                            <small class="alert-danger" *ngIf="userName.hasError('required')">Pole wymagane</small>
                        </div>
                    </div>
                </div>

                <!-- Surname -->
                <div class="row mb-2">
                    <label for="surname" class="col-sm-3 col-form-label required">Nazwisko</label>
                    <div class="col-sm-9">
                        <input id="surname" type="text" class="form-control" formControlName="userSurname">

                        <div class="d-flex flex-column" *ngIf="userSurname.errors && userSurname.dirty">
                            <small class="alert-danger" *ngIf="userSurname.hasError('required')">Pole wymagane</small>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="row mb-2">
                    <label for="email" class="col-sm-3 col-form-label required">Email</label>
                    <div class="col-sm-9">
                        <input id="email" type="text" class="form-control" formControlName="userEmail">

                        <!-- Errors -->
                        <div class="d-flex flex-column" *ngIf="userEmail.errors && userEmail.dirty">
                            <small class="alert-danger" *ngIf="userEmail.hasError('required')">Pole wymagane</small>
                            <small class="alert-danger" *ngIf="userEmail.hasError('pattern')">Nieprawidłowy format
                                adresu
                                email. Poprawny: email@email.com</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <h5>Dane logowania</h5>

                <!-- password -->
                <div class="row mb-2">
                    <label for="password" class="col-sm-3 col-form-label required">Hasło</label>
                    <div class="col-sm-9">
                        <input id="password" type="password" class="form-control" formControlName="password">

                        <!-- Errors -->
                        <div class="d-flex flex-column" *ngIf="password.errors && password.dirty">
                            <small class="alert-danger" *ngIf="password.hasError('required')">Pole wymagane</small>
                            <small class="alert-danger" *ngIf="password.hasError('hasNumber')">Hasło musi posiadać co
                                najmniej
                                jedną cyfrę</small>
                            <small class="alert-danger" *ngIf="password.hasError('hasCapitalCase')">Hasło musi posiadać
                                co
                                najmniej jedną wielką literę</small>
                            <small class="alert-danger" *ngIf="password.hasError('hasSmallCase')">Hasło musi posiadać co
                                najmniej jedną małą literę</small>
                            <small class="alert-danger" *ngIf="password.hasError('minLength')">Hasło musi posiadać co
                                najmniej 8
                                cyfr</small>
                        </div>
                    </div>
                </div>

                <!-- password repeat -->
                <div class="row mb-2">
                    <label for="passwordRepeat" class="col-sm-3 col-form-label required">Powtórz hasło</label>
                    <div class="col-sm-9">
                        <input id="passwordRepeat" type="password" class="form-control"
                            formControlName="passwordRepeat">

                        <!-- Errors -->
                        <div class="d-flex flex-column"
                            *ngIf="(passwordRepeat.errors || addUserForm.errors) && passwordRepeat.dirty">
                            <small class="alert-danger" *ngIf="passwordRepeat.hasError('required')">Pole
                                wymagane</small>
                            <small class="alert-danger" *ngIf="addUserForm.hasError('passwordDifferent')">Hasła się nie
                                zgadzają</small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Declaration -->
            <div class="form-group mt-3">
                <h5>Deklaracje</h5>
                <div class="d-flex flex-column">
                    <span class="regulations">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim pulvinar odio sit amet
                        tincidunt. Nunc erat eros, sodales tempus ante non, tincidunt congue libero. Maecenas sit amet
                        vestibulum dolor, non vehicula turpis. Quisque lacinia nisi in aliquet mollis. Phasellus a
                        tempor
                        lectus, eget vulputate nunc.
                    </span>

                    <div class="mt-2">
                        <label class="required">
                            <input formControlName="declaration" type="checkbox"
                                class="select-all checkbox cursor-pointer" name="select-all" />
                            Akceptuję
                        </label>

                        <div class="d-flex flex-column mt-n1" *ngIf="declaration.errors && declaration.dirty">
                            <small class="alert-danger" *ngIf="declaration.hasError('required')">Pole wymagane</small>
                        </div>
                    </div>

                </div>
            </div>


            <div class="d-flex justify-content-between buttons-container">

                <!-- GO BACK BUTTON -->
                <button type="button" class="btn btn-secondary button-add-user" routerLink="/login">Powrót</button>

                <!-- SUBMIT BUTTON -->
                <button type="button" class="btn btn-primary button-add-user" type="submit" (click)="onSubmit()"
                    [disabled]="!addUserForm.valid">Dodaj</button>
            </div>

            <!-- ERROR HANDLING -->
            <div class="d-flex flex-column" *ngIf="result$ | async as result">
                <small class="alert-success" *ngIf="result.result && result.show">Użytkownik dodany</small>
                <small class="alert-danger" *ngIf="!result.result  && result.show">Błąd</small>
            </div>
            <div class="d-flex flex-column">
                <small *ngIf="mailExists" class="alert-danger">Podany adres emial już istnieje w naszej bazie
                    danych</small>
            </div>

        </form>
    </div>

    <!-- LEFT POSTER -->
    <div class="add-user-bg"></div>
</div>
<app-footer></app-footer>