<div class="d-flex">
    <div class="my-page-side-container my-container relative">

        <app-page-header [header]="'add-edit-user.title-add' | translate" [goBackRoute]="AppRoutes.LOGIN"></app-page-header>

        <form [formGroup]="form">

            <!-- CREDENTIALS -->
            <div class="form-group">
                <h5 translate>
                    common.personal-data
                </h5>

                <!-- Name -->
                <div class="row mb-2">
                    <label for="name" class="col-sm-3 col-form-label required" translate>
                        common.name
                    </label>
                    <div class="col-sm-9">
                        <input id="name" type="text" class="form-control" formControlName="userName">

                        <!-- Errors -->
                        <div class="d-flex flex-column" *ngIf="userName.errors && userName.dirty">
                            <small class="alert-danger" *ngIf="userName.hasError('required')" translate>
                                errors.input-required
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Surname -->
                <div class="row mb-2">
                    <label for="surname" class="col-sm-3 col-form-label required" translate>
                        common.surname
                    </label>
                    <div class="col-sm-9">
                        <input id="surname" type="text" class="form-control" formControlName="userSurname">

                        <div class="d-flex flex-column" *ngIf="userSurname.errors && userSurname.dirty">
                            <small class="alert-danger" *ngIf="userSurname.hasError('required')" translate>
                                errors.input-required
                            </small>
                        </div>
                    </div>
                </div>

                <!-- Email -->
                <div class="row mb-2">
                    <label for="email" class="col-sm-3 col-form-label required" translate>
                        common.email
                    </label>
                    <div class="col-sm-9">
                        <input id="email" type="text" class="form-control" formControlName="userEmail">

                        <!-- Errors -->
                        <div class="d-flex flex-column" *ngIf="userEmail.errors && userEmail.dirty">
                            <small class="alert-danger" *ngIf="userEmail.hasError('required')" translate>
                                errors.input-required
                            </small>
                            <small class="alert-danger" *ngIf="userEmail.hasError('pattern')" translate>
                                errors.email-format
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <h5 translate>
                    add-edit-user.login-credentials
                </h5>

                <!-- password -->
                <div class="row mb-2">
                    <label for="password" class="col-sm-3 col-form-label required" translate>
                        common.password
                    </label>
                    <div class="col-sm-9">
                        <input id="password" type="password" class="form-control" formControlName="password">

                        <!-- Errors -->
                        <div class="d-flex flex-column" *ngIf="password.errors && password.dirty">
                            <small class="alert-danger" *ngIf="password.hasError('required')" translate>
                                errors.input-required
                            </small>
                            <small class="alert-danger" *ngIf="password.hasError('hasNumber')" translate>
                                errors.password-missing-digit
                            </small>
                            <small class="alert-danger" *ngIf="password.hasError('hasCapitalCase')" translate>
                                errors.password-missing-capital
                            </small>
                            <small class="alert-danger" *ngIf="password.hasError('hasSmallCase')" translate>
                                errors.password-lower-missing
                            </small>
                        </div>
                    </div>
                </div>

                <!-- password repeat -->
                <div class="row mb-2">
                    <label for="passwordRepeat" class="col-sm-3 col-form-label required" translate>
                        common.password-repeat
                    </label>
                    <div class="col-sm-9">
                        <input id="passwordRepeat" type="password" class="form-control"
                            formControlName="passwordRepeat">

                        <!-- Errors -->
                        <div class="d-flex flex-column"
                            *ngIf="(passwordRepeat.errors || form.errors) && passwordRepeat.dirty">
                            <small class="alert-danger" *ngIf="passwordRepeat.hasError('required')" translate>
                                errors.input-required
                            </small>
                            <small class="alert-danger" *ngIf="form.hasError('passwordDifferent')" translate>
                                errors.passwords-mismatch
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Declaration -->
            <div class="form-group mt-3">
                <h5 translate>
                    add-edit-user.declarations
                </h5>
                <div class="d-flex flex-column">
                    <span class="text-justify" translate>
                        add-edit-user.declaration-content
                    </span>

                    <div class="mt-2">
                        <label class="required">
                            <input formControlName="declaration" type="checkbox"
                                class="select-all checkbox cursor-pointer" name="select-all" />
                            <span translate>
                                common.accept
                            </span>
                        </label>

                        <div class="d-flex flex-column mt-n1" *ngIf="declaration.errors && declaration.dirty">
                            <small class="alert-danger" *ngIf="declaration.hasError('required')" translate>
                                errors.input-required
                            </small>
                        </div>
                    </div>

                </div>
            </div>

            <div class="my-buttons-page-container">
                <!-- SUBMIT BUTTON -->
                <button type="button" class="btn btn-primary my-button" type="submit" (click)="addUser()"
                    [disabled]="!form.valid" translate>
                    actions.add
                </button>
            </div>

            <!-- ERROR HANDLING -->
            <div class="d-flex flex-column">
                <small *ngIf="mailExists" class="alert-danger">Podany adres emial już istnieje w naszej bazie
                    danych</small>
            </div>

        </form>
    </div>

    <!-- LEFT POSTER -->
    <div class="my-page-side-poster"></div>
</div>
<app-footer></app-footer>