.add-user-bg {
  background: url("../../../assets/images/add-user-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
  width: 50%;
}

.add-user-container {
  width: 60%;
  display: block;
  position: relative;
}

.button-add-user {
  width: 180px;
}

.regulations {
  text-align: justify;
}

.my-col-content {
  display: flex;
  align-items: center;
  justify-content: left;
}
