<app-menu></app-menu>

<div class="d-flex">
    <div class="my-page-side-container my-container-menu">
        <ng-container *ngIf="pageLoaded; else loading">

            <!-- ERROR HANDLING -->
            <div *ngIf="pageError">
                <app-error [error]="pageError"></app-error>
            </div>

            <!-- PAGE CONTENT -->
            <div *ngIf="!pageError">

                <app-page-header [header]="'Zbiórki drużyny'" [goBackUrl]="'/home'"></app-page-header>

                <!-- TEAMS -->
                <div class="d-flex justify-content-between mb-2">
                    <h5>Zarządzaj zbiórkami ({{meetingsData.length}})</h5>


                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle my-button" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            (click)="setActions()">
                            Opcje
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <ng-container *ngFor="let action of actions | keyvalue">
                                <button class="dropdown-item" (click)="action.value.action();"
                                    [disabled]="!action.value.isEnabled">{{action.value.label}}</button>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Meetings table -->
                <div class="mt-3" style="max-height:60vh; overflow-y: auto;">
                    <table class="table table-hover">
                        <thead class="my-thead">
                            <th class="checkbox-cell">
                                <input type="checkbox" class="cursor-pointer ml-n2" [(ngModel)]="allSelected"
                                    (ngModelChange)="toggleSelectAll($event)">
                            </th>
                            <th>
                                Tytuł
                            </th>
                            <th>
                                Miejsce
                            </th>
                            <th>
                                Data
                            </th>
                            <th>
                                Obecni
                            </th>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="meetingsData.length > 0; else noTableData">
                                <ng-container *ngFor="let meeting of meetingsData;">
                                    <tr class="cursor-pointer" (click)="toggleSelected(meeting)"
                                        [ngClass]="{'selected': meeting.isSelected}">
                                        <td class="checkbox-cell">
                                            <input type="checkbox" class="cursor-pointer ml-n2"
                                                [(ngModel)]="meeting.isSelected">
                                        </td>
                                        <td>
                                            <span *ngIf="meeting.title; else noData">
                                                {{meeting.title}}
                                            </span>
                                        </td>
                                        <td>
                                            <span *ngIf="meeting.place; else noData">
                                                {{meeting.place}}
                                            </span>
                                        </td>
                                        <td>
                                            <span *ngIf="meeting.date; else noData">
                                                {{meeting.date}}
                                            </span>
                                        </td>
                                        <td>
                                            <a class="link-alike"
                                                (click)="openShowScoutsByLink(meeting.scoutsPresent); $event.stopPropagation()">
                                                {{meeting.scoutsPresent.length}} </a>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- LEFT POSTER -->
    <div class="my-page-side-poster"></div>
</div>

<app-footer></app-footer>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>

<ng-template #noTableData>
    <tr>
        <td colspan="2">
            Brak danych
        </td>
    </tr>
</ng-template>