.my-page-side-poster {
  background: url(../../../assets/images/meetings-bg.png) top right no-repeat;

  background-size: 150%;
  background-position: 20% 55%;
}

.description-cell {
  max-width: 450px;
  word-wrap: break-word;
}
