<app-menu></app-menu>

<div class="d-flex">
    <div class="my-page-side-container my-container-menu">
        <ng-container *ngIf="pageLoaded; else loading">

            <!-- ERROR HANDLING -->
            <div *ngIf="pageError">
                <app-error [error]="pageError"></app-error>
            </div>

            <!-- PAGE CONTENT -->
            <div *ngIf="!pageError">

                <app-page-header [header]="'meetings-journeys.title' | translate" [goBackRoute]="AppRoutes.HOME">
                </app-page-header>

                <!-- TEAMS -->
                <div class="page-header-container mb-2">
                    <span>
                        <span translate>
                            meetings-journeys.manage
                        </span> ({{meetingsJourneysData.length}})
                    </span>


                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle my-button" type="button"
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            (click)="setActions()">
                            <span translate>
                                common.options
                            </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <ng-container *ngFor="let action of actions | keyvalue">
                                <button class="dropdown-item" (click)="action.value.action();"
                                    [disabled]="!action.value.isEnabled">
                                    <span translate>
                                        {{action.value.label}}
                                    </span>
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Meetings table -->
                <div class="mt-3 table-container-page-menu">
                    <table matSort class="table table-hover" (matSortChange)="sortData($event)">
                        <thead class="my-thead">
                            <th class="checkbox-cell">
                                <input type="checkbox" class="cursor-pointer ml-n2" [(ngModel)]="allSelected"
                                    (ngModelChange)="toggleSelectAll($event)">
                            </th>
                            <th mat-sort-header="type" translate>
                                <span translate>
                                    meetings-journeys.type
                                </span>
                            </th>
                            <th mat-sort-header="title" translate>
                                <span translate>
                                    meetings-journeys.journey-title
                                </span>
                            </th>
                            <th mat-sort-header="place" translate>
                                <span translate>
                                    meetings-journeys.place
                                </span>
                            </th>
                            <th mat-sort-header="date" translate>
                                <span translate>
                                    meetings-journeys.date
                                </span>
                            </th>
                            <th mat-sort-header="scoutsPresentQuantity">
                                <span translate>
                                    meetings-journeys.present
                                </span>
                            </th>
                            <th mat-sort-header="description" class="description-cell">
                                <span translate>
                                    meetings-journeys.description
                                </span>
                            </th>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="meetingsJourneysData.length > 0; else noTableData">
                                <ng-container *ngFor="let row of meetingsJourneysData;">
                                    <tr class="cursor-pointer" (click)="toggleSelected(row)"
                                        [ngClass]="{'selected': row.isSelected}">
                                        <td class="checkbox-cell">
                                            <input type="checkbox" class="cursor-pointer ml-n2"
                                                [(ngModel)]="row.isSelected">
                                        </td>
                                        <td>
                                            <span *ngIf="row.type === Types.MEETING" class="meeting" translate>
                                                meetings-journeys.meeting
                                            </span>
                                            <span *ngIf="row.type === Types.JOURNEY" class="journey" translate>
                                                meetings-journeys.journey
                                            </span>
                                        </td>
                                        <td>
                                            <span *ngIf="row.title; else noData">

                                                <span *ngIf="row.type === Types.MEETING">
                                                    <a class="link-primary"
                                                        (click)="openShowMeetingInfo(row.data); $event.stopPropagation()">
                                                        {{row.title}}
                                                    </a>
                                                </span>

                                                <span *ngIf="row.type === Types.JOURNEY">
                                                    <a class="link-primary"
                                                        (click)="openShowJourneyInfo(row.data); $event.stopPropagation()">
                                                        {{row.title}}
                                                    </a>
                                                </span>

                                            </span>
                                        </td>
                                        <td>
                                            <span *ngIf="row.place; else noData">
                                                {{row.place}}
                                            </span>
                                        </td>
                                        <td>
                                            <span *ngIf="row.date; else noData">
                                                {{row.date}}

                                                <span *ngIf="row.endDate">
                                                    - {{row.endDate}}
                                                </span>
                                            </span>
                                        </td>
                                        <td>
                                            <a class="link-alike"
                                                (click)="openShowScoutsByLink(row.scoutsPresent); $event.stopPropagation()">
                                                {{row.scoutsPresentQuantity}}
                                            </a>
                                        </td>
                                        <td class="description-cell">
                                            <span *ngIf="row.description else noData">
                                                {{row.description}}
                                            </span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- LEFT POSTER -->
    <div class="my-page-side-poster"></div>
</div>

<app-footer></app-footer>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>

<ng-template #noData>
    <span>-</span>
</ng-template>

<ng-template #noTableData>
    <tr>
        <td colspan="6" translate>
            common.no-data
        </td>
    </tr>
</ng-template>