<div class="modal-header">
    <span class="my-modal-title">Ustawienia</span>
</div>

<div class="modal-body">

    <form [formGroup]="form">
        <div class="form-group">

            <!-- Language -->
            <div class="row mb-2">
                <div class="col-sm-2 col-form-label">Język</div>
                <div class="col d-flex justify-content-end">
                    <select class="form-control" formControlName="language">
                        <option class="my-select-item" [ngValue]="'polish'">Polski</option>
                        <option class="my-select-item" [ngValue]="'english'">Angielski</option>
                    </select>
                </div>
            </div>

            <!-- Theme -->
            <div class="row mb-2">
                <div class="col-sm-2 col-form-label">Motyw</div>
                <div class="col d-flex justify-content-end">
                    <select class="form-control" formControlName="theme">
                        <option [ngValue]="'default'">Domyślny</option>
                        <option [ngValue]="'testing'">Testowy</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="project-info">
        <button type="button" class="btn btn-primary my-button" disabled>O projekcie</button>
    </div>
</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="cancel()">Zamknij</button>
        <button class="btn btn-success my-button" [disabled]="!changes" (click)="save()">Zapisz</button>
    </div>
</div>