:root {
  // DEFAULT
  --foreground-default: #f2f0eb;
  --primary-default: #141511;

  --table-default: #f8f7f4;
  --table-selected-default: #dbdad5;

  --table-hover-default: #e6e4df;
  --table-selected-hover-default: #bebebc;



  // Zamienić wszystkie nazwy zmiennych w plikach. Uzyć do tego szukajki

  --default-primary: #141511;
  --default-secondary: #f2f0eb;

  --default-table: #f8f7f4;
  --default-table-selected: #dbdad5;

  --default-table-hover: #e6e4df;
  --default-table-selected: #bebebc;
}
