:root {
  // DEFAULT
  --foreground-default: #f2f0eb;
  --primary-default: #141511;

  --table-default: #f8f7f4;
  --table-selected-default: #dbdad5;

  --table-hover-default: #e6e4df;
  --table-selected-hover-default: #bebebc;
}
