<app-menu></app-menu>
<div class="my-page-content-container-with-menu">

  <div class="info-container">
    <ng-container *ngIf="currUserS | async as user">
      <app-user-info [name]='user.name' [surname]='user.surname'></app-user-info>
    </ng-container>

    <ng-container *ngIf="currTeamS | async as team">
      <ng-container *ngIf="currUserTeamsS | async as teams">
        <app-team-info [name]='team.name' [patron]='team.patron' [userTeams]='teams'></app-team-info>
      </ng-container>
    </ng-container>
  </div>

  <div class="category-container">
    <!-- <app-category-info></app-category-info> -->
  </div>

</div>