<div class="page-container">

  <div class="content-container">
    <h1>Menadżer jednostki harcerskiej</h1>
    <br>

    <div class="login-container">
      <p id="title">Witaj w menadżerze Twojej jednostki harcerskiej!</p>

      <label>
        <input class="my-login-input" placeholder="Email">
      </label>
      <label>
        <input class="my-login-input" placeholder="Hasło">
      </label>

      <label class="my-checkbox"><input type="checkbox" id="rememberMe" name="remember">Zapamiętaj mnie</label>

      <p class="alert"></p>
      <button [routerLink]="PagesUrlsLocal.HOME" class="button-primary">Zaloguj</button>
      <button [routerLink]="PagesUrlsLocal.ADD_USER" class="button-primary">Dodaj użytkownika</button>
    </div>

    <button (click)="login()" class="button-secondary">Informacje</button>
  </div>

</div>


