<div class="page-container">

  <div class="content-container">

    <!--    app title-->
    <h2 id="name">Menadżer jednostki harcerskiej</h2>

    <div class="login-container">

      <!--      invitation-->
      <p>Witaj w swoim serwisie zarządzania jednostką harcerską!</p>

      <div class="app-form-container">
        <form class="app-form" #credentials="ngForm" [formGroup]="credentialsForm">

          <!-- email input-->
          <label>
            <input formControlName="userEmail"
                   type="text" class="form-control" placeholder="Email">
          </label>

          <!-- password input-->
          <label>
            <input formControlName="userPassword"
                   type="password" class="form-control" placeholder="Hasło">
          </label>

          <!-- alert-->
          <small *ngIf="credentials.invalid && submitted"
                 class="text-danger">Nieprawidłowe hasło lub email</small>
          <br>

          <!-- control buttons-->
          <div>
            <button (click)="submit(credentialsForm)" class="button-primary">Zaloguj</button>
            <button (click)="nav.goToAddUser()" class="button-primary">Dodaj użytkownika</button>
          </div>

        </form>
      </div>
    </div>

    <br>
    <button class="button-secondary" disabled>Informacje</button>
  </div>

</div>


