<div class="modal-header">
    <span class="my-modal-title" translate>
        scout-list.title
    </span>
</div>

<div class="modal-body modal-body-max">

    <ng-container *ngIf="pageLoaded; else loading">

        <!-- ERROR HANDLING -->
        <div *ngIf="pageError">
            <app-error [error]="pageError"></app-error>
        </div>

        <!-- PAGE CONTENT -->
        <div *ngIf="!pageError">

            <!-- SCOUTS -->
            <div class="mb-2 page-header-container">

                <app-search-box [foundQuantity]="scoutsFiltered.length" [initQuantity]="scoutsInitial.length"
                    (filterDone)="onFilterChange($event)"></app-search-box>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle my-button" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="setActions()"
                        translate>
                        common.options
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <ng-container *ngFor="let action of actions | keyvalue">
                            <button *ngIf="action.value.isVisible" class="dropdown-item"
                                (click)="action.value.action();"
                                [disabled]="!action.value.isEnabled">{{action.value.label}}</button>
                        </ng-container>
                    </div>
                </div>
            </div>

            <!-- scouts table -->
            <div class="mt-2" style="height: calc(100vh - 410px); overflow-y: auto;">
                <table matSort class="table table-hover" (matSortChange)="sortData($event)">
                    <thead class="my-thead">
                        <th class="checkbox-cell">
                            <input type="checkbox" class="cursor-pointer ml-n2" [(ngModel)]="allSelected"
                                (ngModelChange)="toggleSelectAll($event)">
                        </th>
                        <th mat-sort-header="nameSurname">
                            <span translate>
                                scouts.name-surname
                            </span>
                        </th>
                        <th mat-sort-header="troop">
                            <span translate>
                                scouts.troop
                            </span>
                        </th>
                        <th mat-sort-header="roles">
                            <span translate>
                                scouts.role
                            </span>
                        </th>
                        <th mat-sort-header="rankId">
                            <span translate>
                                scouts.rank
                            </span>
                        </th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="scoutsFiltered.length > 0; else noTableData">
                            <ng-container *ngFor="let scout of scoutsFiltered; let i=index">
                                <tr class="cursor-pointer" [ngClass]="{'selected': scout.isSelected}"
                                    (click)="toggleSelected(scout)">

                                    <td class="checkbox-cell">
                                        <input type="checkbox" class="cursor-pointer ml-n2"
                                            [(ngModel)]="scout.isSelected">
                                    </td>
                                    <td>
                                        <span *ngIf="scout.nameSurname; else noData">
                                            <a class="link-primary"
                                                (click)="openShowInfoModal(scout.scoutObject, scout.rolesList); $event.stopPropagation()">
                                                {{scout.nameSurname}}
                                            </a>
                                        </span>
                                    </td>
                                    <td *ngIf="scout.troop; else noData">
                                        <span>
                                            {{scout.troop}}
                                        </span>
                                    </td>
                                    <td>
                                        <ng-container *ngIf="scout.roles.length > 0; else noData">
                                            <div class="d-flex flex-column">
                                                <span *ngFor="let role of scout.roles" [ngClass]="[role.label, 'mb-1']">
                                                    <span translate>
                                                        {{role.name}}
                                                    </span>
                                                </span>
                                            </div>
                                        </ng-container>
                                    </td>
                                    <td>
                                        <div *ngIf="scout.rankName; else noData" class="d-flex align-items-center">
                                            <span [ngClass]="[scout.instructorRankLabel]" class="mr-2" translate>
                                                {{scout.instructorRankAbbv}}
                                            </span>
                                            <span translate>
                                                {{scout.rankName}}
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>

</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>
    </div>
</div>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>

<ng-template #noTableData>
    <tr>
        <td colspan="5" translate>
            common.no-data
        </td>
    </tr>
</ng-template>

<ng-template #noData>
    <span>-</span>
</ng-template>