<div class="modal-header">
    <span class="my-modal-title" translate>
        meetings-journeys-presence.title
    </span>
</div>

<div class="modal-body-max">

    <ng-container *ngIf="pageLoaded; else loading">

        <ng-container *ngIf="pageError">
            <app-error [error]="pageError"></app-error>
        </ng-container>

        <ng-container *ngIf="!pageError">

            <!-- MEETING DESCRIPTION -->
            <div class="d-flex flex-column" *ngIf="mode === Modes.MANAGE_MEETINGS && meeting">
                <span class="label-thin-big">
                    {{meeting.title}}
                </span>
                <span class="label-thin-medium">
                    {{meeting.place}}
                </span>
                <span class="label-thin-medium">
                    {{meeting.date}}
                </span>
            </div>

            <!-- JOURNEY DESCRIPTION -->
            <div class="d-flex flex-column" *ngIf="mode === Modes.MANAGE_JOURNEYS && journey">
                <span class="label-thin-big">
                    {{journey.title}}
                </span>
                <span class="label-thin-medium">
                    {{journey.place}}
                </span>
                <span class="label-thin-medium">
                    {{journey.startDate}} - {{journey.endDate}}
                </span>
            </div>

            <div class="d-flex mt-2 align-items-center">
                <span class="mr-2">
                    <span translate>
                        meetings-journeys-presence.marked-present
                    </span> {{scoutsSelected}}</span>
                <button class="my-icon-button clear-all" (click)="toggleSelectAll(false)"></button>
            </div>

            <!-- SCOUTS TABLE -->
            <div class="mt-1" style="height: 45vh; overflow-y: auto;">
                <table class="table table-hover">
                    <thead class="my-thead">
                        <th class="checkbox-cell">
                            <input type="checkbox" class="cursor-pointer ml-n2" [(ngModel)]="allSelected"
                                (ngModelChange)="toggleSelectAll($event)">
                        </th>
                        <th translate>meetings-journeys-presence.name-surname</th>
                        <th translate>meetings-journeys-presence.patrol</th>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="scouts.length > 0; else noTableData">
                            <ng-container *ngFor="let scout of scouts; let i=index">
                                <tr class="cursor-pointer" [ngClass]="{'selected': scout.isSelected}"
                                    (click)="toggleSelected(scout)">

                                    <td class="checkbox-cell">
                                        <input type="checkbox" class="cursor-pointer ml-n2"
                                            [(ngModel)]="scout.isSelected">
                                    </td>
                                    <td>
                                        <span *ngIf="scout.nameSurname; else noData">
                                            {{scout.nameSurname}}
                                        </span>
                                    </td>
                                    <td *ngIf="scout.troop; else noData">
                                        <span>{{scout.troop}}</span>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>

        </ng-container>

    </ng-container>
</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>
        <button class="btn btn-success my-button" (click)="action()" translate>
            actions.save
        </button>
    </div>
</div>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>