
<app-menu></app-menu>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <ng-container *ngIf="pageData$ | async as pageData">
                    <div class="col-md-6">
                        <h3 class="display-5">Witaj, {{pageData.currentUser.name}}!</h3>
                        <h5>{{pageData.currentTeam.name}}<br>{{pageData.currentTeam.patron}}</h5>
                        <button class="btn btn-primary mr-2">Zmień jednostkę</button>
                        <button class="btn btn-secondary mr-2" routerLink="/teams">Edytuj jednostki</button>
                    </div>
                </ng-container>
                

                <ng-container *ngIf="pageData$ | async as pageData">
                    <div class="col-md-6 d-flex justify-content-end">
                        <div class="text-right">
                            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="50" height="50">
                            <h5>{{pageData.currentUser.name}} {{pageData.currentUser.surname}}<br>{{pageData.currentUser.email}}</h5>
        
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-secondary" routerLink="/editUser">Edytuj</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</main>