<app-menu></app-menu>

<div class="my-container-menu">

    <div *ngIf="pageLoaded; else loading">

        <ng-container *ngIf="pageError">
            <app-error [error]="pageError"></app-error>
        </ng-container>

        <ng-container *ngIf="!pageError">

            <div class="container">
                <div class="row">

                    <!-- TEAM SECTION -->
                    <div class="col d-flex justify-content-start flex-column">

                        <img class="mb-2" src="../../../assets/icons/team.svg" alt="team-icon" width="75" height="80">

                        <ng-container *ngIf="!noTeams">
                            <h5 class="label mb-4">
                                <span>{{currentTeam?.name}}</span><br>
                                <span>{{currentTeam?.patron}}</span>
                                <span *ngIf="noPatron"><br></span>
                            </h5>

                            <div class="d-flex">
                                <button class="btn btn-secondary my-button mr-2 link" (click)="navigateToTeams()">
                                    <span translate>
                                        home.teams
                                    </span> ({{allTeams?.length}})
                                </button>

                                <div class="dropdown mr-2">
                                    <a class="btn btn-primary dropdown-toggle my-button" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" [ngClass]="{'disabled': selectableTeams.length <= 0}">
                                        <span translate>
                                            home.change-team
                                        </span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a *ngFor="let team of selectableTeams" class="dropdown-item cursor-pointer"
                                            (click)="setCurrentTeam(team)">
                                            {{team?.name}}<br>{{team?.patron}}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <!-- No teams section -->
                        <ng-container *ngIf="noTeams" class="d-flex flex-column">
                            <p translate>
                                home.no-teams-info
                            </p>
                            <button class="btn btn-success my-button" (click)="navigateToTeams()" translate>
                                home.add-team
                            </button>
                        </ng-container>
                    </div>

                    <!-- USER SECTION -->
                    <div class="col d-flex justify-content-end text-right">
                        <div>
                            <img class="mb-2" src="../../../assets/icons/user.svg" alt="user-icon" width="75"
                                height="80">
                            <h5 class="label mb-4">
                                <span>{{currentUser?.name}}&nbsp;</span>
                                <span>{{currentUser?.surname}}</span><br>
                                <span>{{currentUser?.email}}</span>
                            </h5>
                            <button class="btn btn-secondary my-button" (click)="navigateToEditUser()" translate>
                                common.edit
                            </button>
                        </div>
                    </div>

                </div>

                <div class="mt-5">
                    <app-team-info></app-team-info>
                </div>
            </div>

        </ng-container>

    </div>
</div>

<app-footer></app-footer>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>