<app-menu></app-menu>
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex flex-column justify-content-end">

                    <h3 class="display-5" *ngIf="currentUser$ | async as user">Witaj, {{user.name}}!</h3>
                    <ng-container *ngIf="allTeams$ | async as allTeams">
                        <div *ngIf="allTeams.length <= 0">
                            <p>Nie masz jeszcze żadnej jednostki. Dodaj swoję pierwszą drużynę, aby móc skorzystać ze
                                wszystkich fukcjonalności.</p>
                            <button class="btn btn-success mr-2" routerLink="/teams">Dodaj jednostkę</button>
                        </div>
                    </ng-container>

                    <h5 *ngIf="currentTeam$ | async as team">{{team.name}}<br>{{team.patron}}</h5>
                    <div class="row ml-0">
                        <ng-container *ngIf="availableTeams$ | async as teams" class="col-md-5">
                            <div>
                                <div class="dropdown show" *ngIf="teams.length > 0">
                                    <a class="btn btn-primary dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Zmień jednostkę
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item cursor-pointer" *ngFor="let team of teams"
                                            (click)="setCurrentTeam(team)">{{team.name}}<br>{{team.patron}}</a>
                                    </div>
                                </div>

                            </div>

                        </ng-container>
                        <div class="col-md-5 col-md-offset-1">
                            <button class="btn btn-secondary" routerLink="/teams">Moje jednostki</button>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="currentUser$ | async as user">
                    <div class="col-md-6 d-flex justify-content-end">
                        <div class="text-right">
                            <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
                                alt="" width="50" height="50">
                            <h5>{{user.name}}
                                {{user.surname}}<br>{{user.email}}</h5>

                            <div>
                                <button class="btn btn-secondary" routerLink="/editUser">Edytuj</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>

</main>