.category-info-container {
  margin-top: 30px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.category-header {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}

.category-presentation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  padding: 10px;
  background-color: var(--background-color);
}

.category-img {
  width: 200px;
  height: 200px;
}

.category-stats {
  margin: 20px;
}

.info {
  font-size: 30px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
