<div class="category-info-container">

  <div class="category-header">
    <h1>Kategoryzacja</h1>
  </div>

  <div class="category-presentation">
    <img class="category-img" src="assets/img/categories/lesna.jpg" alt="category-img"/>
    <br>
    <h5>Obecna kategoria:</h5>
    <h2>LESNA</h2>
  </div>

  <div class="category-stats">
    <table class="my-table">
      <tr>
        <th>LLorem ipsum dolor sit ame:</th>
        <th><span class="info">3</span></th>
      </tr>
      <tr>
        <th>Stopnie adekwatne do wieku:</th>
        <th><span class="info">80%</span></th>
      </tr>
      <tr>
        <th>Ilosc sprawności na harcerza:</th>
        <th><span class="info">1ms</span></th>
      </tr>
      <tr>
        <th>Zbiorki harcerskie co:</th>
        <th><span class="info">3.5</span></th>
      </tr>
      <tr>
        <th>Stopnie adekwatne do wieku:</th>
        <th><span class="info">80%</span></th>
      </tr>
      <tr>
        <th>Ilosc sprawności na harcerza:</th>
        <th><span class="info">1ms</span></th>
      </tr>
    </table>
  </div>

  <div class="button-container">
    <button disabled="disabled" class="button-secondary">Dowiedz się więcej</button>
  </div>

</div>

