.footer-container {
  min-height: 10vh;
  background-color: var(--primary-default);
  color: var(--foreground-default);

  font-size: 15px;
  position: relative;

  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.author {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: right;

  height: 100%;
  text-align: center;

  display: flex;
  align-items: center;
}
