.team-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-flow: column;

  margin: 5px;
  padding: 10px;

  max-width: 500px;

  background-color: var(--background-color);
}
