<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title">Dodaj harcerza</h2>
    </div>
    <div class="modal-body">

        <form [formGroup]="form">

            <div class="form-group">
                <h5>Dane osobowe</h5>

                <!-- Name -->
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label required">Imię</label>
                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" formControlName="name"
                            [ngClass]="{'is-invalid': name.invalid && (name.touched || name.dirty)}">

                        <!-- (!) Name -->
                        <div class="d-flex flex-column" *ngIf="name.invalid && (name.touched || name.dirty)">
                            <span class="text-danger" *ngIf="name.errors?.required">
                                Pole wymagane
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Surname -->
                <div class="form-group row">
                    <label for="surname" class="col-sm-2 col-form-label required">Nazwisko</label>
                    <div class="col-sm-10">
                        <input id="surname" type="text" class="form-control mt-2" formControlName="surname"
                            [ngClass]="{'is-invalid': surname.invalid && (surname.touched || surname.dirty)}">

                        <!-- (!) Surname -->
                        <div class="d-flex flex-column" *ngIf="surname.invalid && (surname.touched || surname.dirty)">
                            <span class="text-danger" *ngIf="surname.errors?.required">
                                Pole wymagane
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Pesel -->
                <div class="form-group row">
                    <label for="pesel" class="col-sm-2 col-form-label">PESEL</label>
                    <div class="col-sm-10">
                        <input id="pesel" type="text" class="form-control" formControlName="pesel"
                            [ngClass]="{'is-invalid': pesel.invalid && (pesel.pristine || pesel.dirty)}">

                        <!-- (!) Pesel -->
                        <div class="d-flex flex-column" *ngIf="pesel.invalid && (pesel.touched || pesel.dirty)">
                            <span class="text-danger" *ngIf="pesel.errors?.pattern">
                                Zły format
                            </span>
                        </div>
                    </div>
                </div>

                <!-- Birth date -->
                <div class="form-group row">
                    <label for="birthDate" class="col-sm-2 col-form-label">Data urodzenia</label>
                    <div class="col-sm-10">
                        <input id="birthDate" type="text" class="form-control" formControlName="birthDate"
                            [ngClass]="{'is-invalid': birthDate.invalid && (birthDate.pristine || birthDate.dirty)}">

                        <!-- (!) Birth date -->
                        <div class="d-flex flex-column"
                            *ngIf="birthDate.invalid && (birthDate.touched || birthDate.dirty)">
                            <span class="text-danger" *ngIf="birthDate.errors?.pattern">
                                Prawidłowy format daty to dd/mm/yyyyw
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Troop -->
            <div class="form-group">
                <h5>Przydział</h5>
            </div>


            <!-- Roles -->
            <div class="form-group">
                <h5>Funkcje w drużynie</h5>

                <div class='d-flex justify-content-between'>
                    <div class="d-flex flex-column">
                        <table class="table mb-n2">
                            <tbody>
                                <tr *ngFor="let role of scoutRoles">
                                    <td>
                                        {{role.name}}
                                    </td>
                                    <td>
                                        <button type="button" class="close" aria-label="Close"
                                            (click)="removeRole(role)">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex flex-column" *ngIf="scoutRoles.length <= 0">
                            <span class="text-danger">
                                Pole wymagane
                            </span>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle text-left" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" (click)="filterRoles()">
                            Wybierz
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item cursor-pointer" *ngFor="let role of availableRoles"
                                (click)="addRole(role)">{{role.name}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5>Stopnie</h5>

                <!-- Ranks -->
                <div class="d-flex">
                    <div style="width: 100%;">
                        <input type="text" class="form-control" placeholder="Stopień harcerski*" formControlName="rank"
                            [ngClass]="{'is-invalid': rank.invalid && (rank.touched || rank.dirty)}" readonly>
                        <div class="d-flex flex-column" *ngIf="rank.invalid && (rank.touched || rank.dirty)">
                            <span class="text-danger" *ngIf="rank.errors?.required">
                                Pole wymagane
                            </span>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle text-left ml-2" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Wybierz
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item cursor-pointer" *ngFor="let rank of availableRanks"
                                (click)="addRank(rank)">{{rank.name}}</a>
                        </div>
                    </div>
                </div>

                <!-- Instructor ranks -->
                <div class="d-flex mt-2">
                    <div style="width: 100%;">
                        <input type="text" class="form-control" placeholder="Stopień instruktorski*" readonly
                            formControlName="instructorRank"
                            [ngClass]="{'is-invalid': instructorRank.invalid && (instructorRank.touched || instructorRank.dirty)}">
                        <div class="d-flex flex-column"
                            *ngIf="instructorRank.invalid && (instructorRank.touched || instructorRank.dirty)">
                            <span class="text-danger" *ngIf="instructorRank.errors?.required">
                                Pole wymagane
                            </span>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle text-left ml-2" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Wybierz
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item cursor-pointer" *ngFor="let rank of availableInstructorRanls"
                                (click)="addInstructorRank(rank)">{{rank.name}}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h5>Adres zamieszkania</h5>

                <!-- Address -->
                <input type="text" class="form-control mt-2" placeholder="Ulica i numer mieszkania"
                    formControlName="address">

                <!-- Postal code -->
                <input type="text" class="form-control mt-2" placeholder="Kod pocztowy" formControlName="postalCode"
                    [ngClass]="{'is-invalid': postalCode.invalid && (postalCode.touched || postalCode.dirty)}">
                <div class="d-flex flex-column" *ngIf="postalCode.invalid && (postalCode.touched || postalCode.dirty)">
                    <span class="text-danger" *ngIf="postalCode.errors?.pattern">
                        Prawidłowy format to: 00-000
                    </span>
                </div>

                <!-- City -->
                <input type="text" class="form-control mt-2" placeholder="Miasto" formControlName="city">
            </div>

            <div class="form-group">
                <h5>Dane kontaktowe</h5>

                <!-- Contact -->
                <input type="text" class="form-control mt-2" placeholder="Telefon kontaktowy" formControlName="contact"
                    [ngClass]="{'is-invalid': contact.invalid && (contact.touched || contact.dirty)}">
                <div class="d-flex flex-column" *ngIf="contact.invalid && (contact.touched || contact.dirty)">
                    <span class="text-danger" *ngIf="contact.errors?.pattern">
                        Prawidłowy format to: 123-123-123
                    </span>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer d-flex flex-column align-content-end">
        <div>
            <button type="button" class="btn btn-light mr-2" (click)="close()">Zamknij</button>
            <button type="button" class="btn btn-success" (click)="manageScout()">Dodaj</button>
        </div>
        <div class="d-flex flex-column align-content-end" *ngIf="result$ | async as result">
            <span class="text-success" *ngIf="result.result && result.show">
                Dodano nowego harcerza
            </span>
            <span class="text-danger" *ngIf="!result.result && result.show">
                Błąd
            </span>
        </div>
    </div>
</ng-template>