<div class="footer-container d-flex align-items-center justify-content-center flex-column">
    <span>Menadżer drużyny harcerskiej 2021</span>

    <div class="d-flex align-items-center">
        <span>Powered by</span>
        <img src="../../../assets/icons/angular.svg" alt="angular" width="20" height="20" class="ml-1 mr-1">
        <a href="https://angular.io/">Angular</a>

        <span class="ml-1 mr-1">&</span>

        <img src="../../../assets/icons/bootstrap.svg" alt="angular" width="20" height="20" class="ml-1 mr-1">
        <a href="https://getbootstrap.com/">Bootstrap</a>
    </div>

    <div>
        <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>

    <div class="author">
        <span>Author: Antoni Forzpańczyk <br>
            Politechnika Łódzka, IFE</span>
    </div>
</div>