.my-button {
  min-width: 180px;
}

.btn {
  opacity: 1;
}

.btn:disabled {
  opacity: 0.3;
}

.my-buttons-page-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  right: 0;
  bottom: 0;
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 40px;
}

.my-buttons-simple-container {
  * {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.my-icon-button {
  display: inline-block;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;

  transition: opacity 0.5s;
  opacity: 0.6;
}

.my-icon-button:hover {
  transition: opacity 0.5s;
  opacity: 1;
}

.my-icon-button:focus {
  display: inline-block;
  border: none;
  outline: none;
}

.dropdown-item {
  color: var(--primary-default) !important;
}

.dropdown-item:disabled {
  opacity: 0.5 !important;
}
