.my-container {
  min-height: 100vh;
  padding: 80px;
  background-color: var(--foreground-default);
}

.my-container-menu {
  min-height: 90vh;
  padding: 80px;
  background-color: var(--foreground-default);
}

.my-app-container {
  background-color: var(--foreground-default);
}
