.my-container {
  min-height: 100vh;
  padding: 80px;
  background-color: #f2f0eb;
}

.my-container-menu {
  min-height: 90vh;
  padding: 80px;
  background-color: #f2f0eb;
}

.my-app-container {
  background-color: #f2f0eb;
}
