// Przewodnik
.instructor-rank-2 {
  color: white;
  background-color: rgb(25, 49, 116);

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 100px;
}

// Podharcmistrz
.instructor-rank-3 {
  background-color: rgb(30, 83, 9);
  color: white;

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 100px;
}

// Harcmistrz
.instructor-rank-4 {
  background-color: rgb(177, 18, 18);
  color: white;

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 100px;
}

// Podzastępowy
.role-5 {
  color: black;
  background-color: rgb(202, 201, 201);

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 200px;
}

// Zastępowy
.role-6 {
  color: white;
  background-color: rgb(53, 7, 7);

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 200px;
}

// Kwatermistrz
.role-10 {
  color: white;
  background-color: rgb(226, 48, 87);

  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 200px;
}

// Przyboczny
.role-11 {
  color: white;
  background-color: rgb(26, 131, 35);

  margin: 2px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 200px;
}

// Drużynowy
.role-12 {
  color: white;
  background-color: rgb(33, 34, 100);

  margin: 5px;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  min-width: 200px;
}
