:root {
  --modal-height: 65vh;
}

.my-modal-title {
  font-weight: 200;
  font-size: 35px;
}

.modal-body {
  max-height: var(--modal-height);
  overflow-y: auto;
}

.modal-body-max {
  height: var(--modal-height) !important;
}

.mat-dialog-content,
.mat-dialog-container {
  overflow: visible !important;
}

.mat-dialog-actions {
  clear: both;
}
