.my-modal-title {
  font-weight: 200;
  font-size: 35px;
}

.modal-body {
  max-height: 60vh !important;
  overflow-y: auto;
}

.mat-dialog-content,
.mat-dialog-container {
  overflow: visible !important;
}

.mat-dialog-actions {
  clear: both;
}
