.my-page-side-container {
  width: 70%;
  display: block;
}

.my-page-side-poster {
  background-repeat: no-repeat;
  background-size: cover;

  width: 30%;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: large;
  font-weight: 400;
}
