.table {
  position: relative !important;

  tr {
    background-color: var(--table-default);
  }

  .checkbox-cell {
    text-align: center;
    vertical-align: middle;
    min-width: 40px;
  }

  .my-thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary-default);
    color: var(--foreground-default) !important;
    font-weight: 200 !important;
    z-index: 1;
  }

  .my-thead-clean th {
    background-color: var(--primary-default);
    color: var(--foreground-default) !important;
    font-weight: 200 !important;
  }
}

.table-hover {
  tr {
    transition: background-color 0.1s;
    background-color: var(--table-default);
  }

  tr:hover {
    transition: background-color 0.1s;
    background-color: var(--table-selected-default);
  }

  .selected {
    transition: background-color 0.1s;
    background-color: var(--table-selected-default);
  }

  .selected:hover {
    transition: background-color 0.1s;
    background-color: var(--table-selected-hover-default);
  }
}

.table-container-page-menu {
  height: calc(90vh - 220px);
  overflow-y: auto;
}
