.table-hover {
  position: relative !important;

  tr {
    transition: background-color 0.1s;
    background-color: var(--table-default);
  }

  tr:hover {
    transition: background-color 0.1s;
    background-color: var(--table-selected-default);
  }

  .selected {
    transition: background-color 0.1s;
    background-color: var(--table-selected-default);
  }

  .selected:hover {
    transition: background-color 0.1s;
    background-color: var(--table-selected-hover-default);
  }

  .checkbox-cell {
    text-align: center;
    vertical-align: middle;
  }

  .my-thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary-default);
    color: var(--foreground-default) !important;
    font-weight: 200 !important;
  }
}

.table {
  position: relative !important;

  tr {
    background-color: var(--table-default);
  }

  .checkbox-cell {
    text-align: center;
    vertical-align: middle;
  }

  .my-thead th {
    position: sticky;
    top: 0;
    background-color: var(--primary-default);
    color: var(--foreground-default) !important;
    font-weight: 200 !important;
  }
}
