.cursor-pointer {
  cursor: pointer !important;
}

.no-outline {
  outline: none;
}

.required:after {
  content: "*";
  color: red;
}

.label {
  font-weight: 200;
}

.label-thin-medium {
  font-size: 20px;
  font-weight: 200;
}

.label-thin-big {
  font-size: 27px;
  font-weight: 200;
}

.relative {
  position: relative;
}

.link-alike {
  color: #2222ac;
}

.link-alike:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 25px;
}
