<div class="modal-header">

    <div class="d-flex align-items-center">

        <!-- Loading -->
        <ng-container *ngIf="!pageLoaded">
            <div class="spinner-border mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span class="my-modal-title" translate>
                progress.loading
            </span>
        </ng-container>

        <ng-container *ngIf="pageLoaded">

            <!-- Success -->
            <ng-container *ngIf="result === Results.SUCCESS">
                <img src="../../../../assets/icons/success.svg" class="mr-2" alt="success-icon" width="35" height="35">
                <span class="my-modal-title ml-2" translate>
                    progress.title-success
                </span>
            </ng-container>

            <!-- Failure -->
            <ng-container *ngIf="result === Results.FAILURE">
                <img src="../../../../assets/icons/failure.svg" class="mr-2" alt="error-icon" width="35" height="35">
                <span class="my-modal-title ml-2" translate>
                    progress.title-failure
                </span>
            </ng-container>

            <!-- Error -->
            <ng-container *ngIf="result === Results.ERROR">
                <img src="../../../../assets/icons/server-error.svg" class="mr-2" alt="error-icon" width="35"
                    height="35">
                <span class="my-modal-title ml-2" translate>
                    progress.title-server-error
                </span>
            </ng-container>

        </ng-container>

    </div>
</div>

<div class="modal-body">

    <!-- Loading content -->
    <ng-container *ngIf="!pageLoaded">
        <p class="mt-3 mb-n2">
            <span translate>
                progress.please-wait
            </span>
        </p>
    </ng-container>

    <ng-container *ngIf="pageLoaded">

        <!-- Success content -->
        <ng-container *ngIf="result === Results.SUCCESS">
            <p *ngIf="data.options?.successMessage" class="mt-3 mb-n2">
                <span translate>
                    progress.success-message
                </span>
            </p>
        </ng-container>

        <!-- Failure content -->
        <ng-container *ngIf="result === Results.FAILURE">
            <p *ngIf="data.options?.failureMessage" class="mt-3 mb-n2">
                <span translate>
                    progress.failure-message
                </span>
            </p>
        </ng-container>

        <!-- Error content -->
        <ng-container *ngIf="result === Results.ERROR">
            <div *ngIf="error?.name" class="mb-3 text-center">
                <h5>
                    <span translate>
                        progress.error-name
                    </span>
                </h5>
                <span>{{error.name}}</span>
            </div>

            <div *ngIf="error?.message" class="mb-3 text-center">
                <h5>
                    <span translate>
                        progress.error-message
                    </span>
                </h5>
                <span>
                    {{error.message}}
                </span>
            </div>
        </ng-container>

        <div class="mt-3" style="max-height: calc(100vh - 550px); overflow-y: auto;">
            <table class="table">
                <thead class="my-thead">
                    <th translate>
                        progress.action
                    </th>
                    <th translate>
                        progress.duration
                    </th>
                    <th translate>
                        progress.result
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let result of resultData">
                        <td translate>
                            {{result.action}}
                        </td>
                        <td>
                            {{result.elapsedTime}} ms
                        </td>
                        <td class="full-center">

                            <span *ngIf="result.result === ActionResults.SUCCESS" class="full-center">
                                <img src="../../../../assets/icons/success.svg" class="mr-2" alt="success-icon"
                                    width="20" height="20">
                                <span translate>
                                    progress.result-success
                                </span>
                            </span>

                            <span *ngIf="result.result === ActionResults.FAILURE" class="full-center">
                                <img src="../../../../assets/icons/failure.svg" class="mr-2" alt="success-icon"
                                    width="20" height="20">
                                <span translate>
                                    progress.result-failure
                                </span>
                            </span>

                            <span *ngIf="result.result === ActionResults.SERVER_ERROR" class="full-center">
                                <img src="../../../../assets/icons/alert.svg" class="mr-2" alt="success-icon" width="20"
                                    height="20">
                                <span translate>
                                    progress.result-server-error
                                </span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </ng-container>
</div>

<div *ngIf="pageLoaded" class="modal-footer d-flex flex-column align-content-end">
    <button type="button" class="btn btn-secondary" (click)="close()" translate>
        actions.close
    </button>
</div>