<mat-dialog-content>

    <div class="modal-body">

        <div class="d-flex justify-content-between">
            <h5>Przetwarzam...</h5>

            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>


    </div>

</mat-dialog-content>
<mat-dialog-actions class="modal-footer d-flex flex-column align-content-end">
    <div>
        <button type="button" class="btn btn-light mr-2" (click)="close()">Zamknij</button>
    </div>
</mat-dialog-actions>