<div class="modal-header">
    <span class="my-modal-title">Usuń wyjazdy i zbiórki</span>
</div>

<div class="modal-body">

    <div class="d-flex align-items-center">
        <img src="../../../../assets/icons/alert.svg" width="30" height="30" class="mr-4" />
        <span>Usunięcie zbiórki spowoduje usunięcie danych o obecności</span>
    </div>

    <br>
    <span>
        Zbiróki, które zamierzasz usunąć:
    </span>

    <div class="my-table-container">
        <table class="table">
            <tbody>
                <tr *ngFor="let meeting of meetings">
                    <td>
                        <span class="meeting">
                            Zbiórka
                        </span>
                    </td>
                    <td>{{meeting.title}}</td>
                    <td>{{meeting.date}}</td>
                </tr>
                <tr *ngFor="let journey of journeys">
                    <td>
                        <span class="journey">
                            Wyjazd
                        </span>
                    </td>
                    <td>{{journey.title}}</td>
                    <td>{{journey.startDate }} - {{journey.endDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex align-items-center mt-2">
        <label class="required">
            <input type="checkbox" class="select-all checkbox cursor-pointer" [(ngModel)]="accept" />
            Potwierdzam, że jestem świadom konsekwencji
        </label>
    </div>

</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()">Zamknij</button>
        <button class="btn btn-danger my-button" [disabled]="!accept" (click)="delete()">Usuń</button>
    </div>
</div>