<div class="modal-header">
    <span class="my-modal-title" translate>
        delete-journeys-meetings.title
    </span>
</div>

<div class="modal-body">

    <div class="d-flex align-items-center">
        <img src="../../../../assets/icons/alert.svg" width="30" height="30" class="mr-4" />
        <span translate>
            delete-journeys-meetings.warning
        </span>
    </div>

    <br>
    <span translate>
        delete-journeys-meetings.about-delete
    </span>

    <div class="my-table-container">
        <table class="table">
            <tbody>
                <tr *ngFor="let meeting of meetings">
                    <td>
                        <span class="meeting" translate>
                            delete-journeys-meetings.meeting
                        </span>
                    </td>
                    <td>{{meeting.title}}</td>
                    <td>{{meeting.date}}</td>
                </tr>
                <tr *ngFor="let journey of journeys">
                    <td>
                        <span class="journey" translate>
                            delete-journeys-meetings.journey
                        </span>
                    </td>
                    <td>{{journey.title}}</td>
                    <td>{{journey.startDate }} - {{journey.endDate }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex align-items-center mt-2">
        <label class="required">
            <input type="checkbox" class="select-all checkbox cursor-pointer" [(ngModel)]="accept" />
            <span translate>
                delete-journeys-meetings.aware-consequences
            </span>
        </label>
    </div>

</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>
        <button class="btn btn-danger my-button" [disabled]="!accept" (click)="delete()" translate>
            actions.delete
        </button>
    </div>
</div>