// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-primary: mat-palette($mat-indigo);
$web-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-theme: mat-light-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
      warn: $web-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-theme);

.cursor-pointer {
  cursor: pointer;
}

.no-outline {
  outline: none;
}

.required:after {
  content: "*";
  color: red;
}

.my-row:hover {
  background-color: rgb(230, 227, 227);
}

.my-row-selected {
  background-color: rgb(173, 214, 255);
}

.my-row-selected:hover {
  background-color: rgb(106, 178, 250);
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.container-clean {
  min-height: 100vh;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  background-color: #f2f0eb;
}

.container-clean-menu {
  min-height: 90vh;
  padding-top: 80px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
  background-color: #f2f0eb;
}

.buttons-container {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.my-app-container {
  background-color: #f2f0eb;
}

.label {
  font-weight: 200;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-button {
  display: inline-block;
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;

  transition: opacity 0.5s;
  opacity: 0.6;
}

.icon-button:hover {
  transition: opacity 0.5s;
  opacity: 1;
}

.checkbox-1x {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.checkbox-2x {
  transform: scale(2);
  -webkit-transform: scale(2);
}

// TABle

.table {
  tr {
    background-color: #f8f7f4;
  }

  .selected {
    background-color: #dbdad5;
  }

  tr:hover {
    background-color: #e6e4df;
  }

  .checkbox-cell {
    text-align: center;
    vertical-align: middle;
  }
}
