/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
// @import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.cursor-pointer {
    cursor: pointer;
  }
  
  .no-outline {
    outline: none;
  }
  
  .required:after {
    content: "*";
    color: red;
  }
  
  .my-row:hover {
    background-color: rgb(230, 227, 227);
  }
  
  .my-row-selected {
    background-color: rgb(173, 214, 255);
  }
  
  .my-row-selected:hover {
    background-color: rgb(106, 178, 250);
  }
  
  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
