@import "~@angular/material/theming";
@include mat-core();
$web-primary: mat-palette($mat-indigo);
$web-accent: mat-palette($mat-pink, A200, A100, A400);
$web-warn: mat-palette($mat-red);
$web-theme: mat-light-theme(
  (
    color: (
      primary: $web-primary,
      accent: $web-accent,
      warn: $web-warn,
    ),
  )
);
@include angular-material-theme($web-theme);

// ============= MY IMPORTS =============

// Main styles
@import "assets/styles/main.scss";

// Custom button
@import "assets/styles/buttons.scss";

// Custom modals
@import "assets/styles/modals.scss";

// Custom tables
@import "assets/styles/tables.scss";

// Utils
@import "assets/styles/utils.scss";

// Custom containers
@import "assets/styles/containers.scss";

// Custom pages
@import "assets/styles/pages.scss";

// Custom inputs
@import "assets/styles/inputs.scss";
