<div class="modal-header">
    <span class="my-modal-title" *ngIf="modalMode === ModalModes.ADD" translate>
        add-new-scout.title-add
    </span>
    <span class="my-modal-title" *ngIf="modalMode === ModalModes.EDIT" translate>
        add-new-scout.title-edit
    </span>
</div>

<div class="modal-body modal-body-max">

    <ng-container *ngIf="pageLoaded; else loading">

        <ng-container *ngIf="pageError">
            <app-error [error]="pageError"></app-error>
        </ng-container>

        <ng-container *ngIf="!pageError">

            <form [formGroup]="form">

                <!-- CREDENTIALS -->
                <div class="form-group">

                    <div class="d-flex align-items-center mb-1">
                        <img src="../../../../assets/icons/person.svg" class="icon mr-2" />
                        <span class="label-medium" translate>
                            common.personal-data
                        </span>
                    </div>

                    <!-- Name -->
                    <div class="row mb-2">
                        <label for="name" class="col-sm-4 col-form-label required" translate>
                            common.name
                        </label>
                        <div class="col">
                            <input id="name" type="text" class="form-control" formControlName="name">

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="name.errors && name.dirty">
                                <small class="alert-danger" *ngIf="name.hasError('required')" translate>
                                    errors.input-required
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Surname -->
                    <div class="row mb-2">
                        <label for="surname" class="col-sm-4 col-form-label required" translate>
                            common.surname
                        </label>
                        <div class="col">
                            <input id="surname" type="text" class="form-control" formControlName="surname">

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="surname.errors && surname.dirty">
                                <small class="alert-danger" *ngIf="surname.hasError('required')" translate>
                                    errors.input-required
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Birth date -->
                    <div class="row mb-2">
                        <label for="birthDate" class="col-sm-4 col-form-label" translate>
                            scouts.birth-date
                        </label>
                        <div class="col">
                            <mat-form-field class="mb-n2 mt-n2 w-100">
                                <input id="birthDate" matInput [matDatepicker]="picker" formControlName="birthDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- Pesel -->
                    <div class="row mb-2">
                        <label for="pesel" class="col-sm-4 col-form-label" translate>
                            scouts.personal-id
                        </label>
                        <div class="col">
                            <input id="pesel" type="text" class="form-control" formControlName="pesel">

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="pesel.errors && pesel.dirty">
                                <small class="alert-danger" *ngIf="pesel.hasError('pattern')" translate>
                                    errors.personal-id-format
                                </small>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- ADDRESS -->
                <div class="form-group">

                    <div class="d-flex align-items-center mb-1 mt-4">
                        <img src="../../../../assets/icons/address.svg" class="icon mr-2" />
                        <span class="label-medium" translate>
                            scouts.address
                        </span>
                    </div>

                    <!-- Street -->
                    <div class="row mb-2">
                        <label for="street" class="col-sm-4 col-form-label" translate>
                            scouts.street
                        </label>
                        <div class="col">
                            <input id="street" type="text" class="form-control" formControlName="address">
                        </div>
                    </div>

                    <!-- Postal code -->
                    <div class="row mb-2">
                        <label for="postalCode" class="col-sm-4 col-form-label" translate>
                            scouts.zip-code
                        </label>
                        <div class="col">
                            <input id="postalCode" type="text" class="form-control" formControlName="postalCode">

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="postalCode.errors && postalCode.dirty">
                                <small class="alert-danger" *ngIf="postalCode.hasError('pattern')" translate>
                                    errors.zip-code-format
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- City -->
                    <div class="row mb-2">
                        <label for="city" class="col-sm-4 col-form-label" translate>
                            scouts.city
                        </label>
                        <div class="col">
                            <input id="city" type="text" class="form-control" formControlName="city">
                        </div>
                    </div>

                </div>

                <!-- CONTACT -->
                <div class="form-group">

                    <div class="d-flex align-items-center mb-1 mt-4">
                        <img src="../../../../assets/icons/phone.svg" class="icon mr-2" />
                        <span class="label-medium" translate>
                            scouts.contact-data
                        </span>
                    </div>

                    <!-- Phone -->
                    <div class="row mb-2">
                        <label for="phone" class="col-sm-4 col-form-label" translate>
                            scouts.phone-number
                        </label>
                        <div class="col">
                            <input id="phone" type="text" class="form-control" formControlName="phone">

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="phone.errors && phone.dirty">
                                <small class="alert-danger" *ngIf="phone.hasError('pattern')" translate>
                                    errors.phone-pattern
                                </small>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- RANKS -->
                <div class="form-group">

                    <div class="d-flex align-items-center mb-1">
                        <img src="../../../../assets/icons/rank.svg" class="icon mr-2" />
                        <span class="label-medium" translate>
                            scouts.ranks
                        </span>
                    </div>

                    <!-- Rank -->
                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label required" translate>
                            scouts.scout-rank
                        </label>
                        <div class="col">
                            <ng-select appendTo="body" formControlName="rank">
                                <ng-option *ngFor="let rank of ranks" [value]="rank.rankId">
                                    <span translate>
                                        {{rank.name}}
                                    </span>
                                </ng-option>
                            </ng-select>

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="rank.errors && rank.dirty">
                                <small class="alert-danger" *ngIf="rank.hasError('required')" translate>
                                    errors.input-required
                                </small>
                            </div>
                        </div>
                    </div>

                    <!-- Instructor rank -->
                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label required" translate>
                            scouts.instructor-rank
                        </label>
                        <div class="col">
                            <ng-select appendTo="body" formControlName="instructorRank">
                                <ng-option *ngFor="let rank of instructorRanks" [value]="rank.rankId">
                                    <span [ngClass]="[createInstructorRankBadge(rank)]" translate>
                                        {{rank.name}}
                                    </span>
                                </ng-option>
                            </ng-select>

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="instructorRank.errors && instructorRank.dirty">
                                <small class="alert-danger" *ngIf="instructorRank.hasError('required')" translate>
                                    errors.input-required
                                </small>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="form-group">

                    <div class="d-flex align-items-center mb-1 mt-4">
                        <img src="../../../../assets/icons/group.svg" class="icon mr-2" />
                        <span class="label-medium" translate>
                            scouts.membershp
                        </span>
                    </div>

                    <!-- Troops -->
                    <div class="row mb-2">
                        <label class="col-sm-4 col-form-label required" translate>
                            scouts.patrol
                        </label>
                        <div class="col">
                            <ng-select [items]="patrols" appendTo="body" bindLabel="name" bindValue="patrolId"
                                formControlName="troop">
                            </ng-select>

                            <!-- Errors -->
                            <div class="d-flex flex-column" *ngIf="troop.errors && troop.dirty">
                                <small class="alert-danger" *ngIf="troop.hasError('required')" translate>
                                    errors.input-required
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </ng-container>

    </ng-container>
</div>

<div class="modal-footer">
    <div class="my-buttons-simple-container">
        <button class="btn btn-light my-button" (click)="close()" translate>
            actions.close
        </button>

        <button *ngIf="modalMode === ModalModes.ADD" type="button" class="btn btn-success my-button"
            (click)="addScout()" [disabled]="!form.valid" translate>
            actions.add
        </button>

        <button *ngIf="modalMode === ModalModes.EDIT" type="button" class="btn btn-success my-button"
            (click)="editScout()" [disabled]="!form.valid" translate>
            actions.edit
        </button>
    </div>
</div>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>