.my-page-bg {
  background: url("../../../assets/images/manage-teams-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 90vh;
  width: 50%;
}

.my-page-container {
  width: 60%;
  display: block;
  position: relative;
}
