<app-menu></app-menu>

<main role="main" class="container mb-3">
    <h1 class="mt-5">Edytuj użytkownika</h1>

    <form [formGroup]="editUserDataForm">
        <div class="form-group">
            <h5>Dane osobowe</h5>
            <input type="text" class="form-control mt-2" placeholder="Imię" formControlName="userName">
            <div class="d-flex flex-column" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
                <small class="alert-danger" *ngIf="userName.errors.required">Pole wymagane</small>
            </div>
            <input type="text" class="form-control mt-2" placeholder="Nazwisko" formControlName="userSurname">
            <div class="d-flex flex-column" *ngIf="userSurname.invalid && (userSurname.dirty || userSurname.touched)">
                <small class="alert-danger" *ngIf="userSurname.errors.required">Pole wymagane</small>
            </div>
            <input type="text" class="form-control mt-2" placeholder="Email" formControlName="userEmail">

            <button class="btn btn-primary mt-2" type="submit" [disabled]="!editUserDataForm.valid"
                (click)="editUserData()">Edytuj</button>
            <div class="d-flex flex-column" *ngIf="editUserResult$ | async as result">
                <small class="alert-success" *ngIf="result.result && result.show">Dane zaktualizowane</small>
                <small class="alert-danger" *ngIf="!result.result  && result.show">Błąd</small>
            </div>
        </div>
    </form>

    <form [formGroup]="editUserPasswordsFrom">
        <div class="form-group">
            <h5>Dane logowania</h5>
            <input type="password" class="form-control mt-2" placeholder="Aktualne hasło"
                formControlName="passwordUser">
            <div class="d-flex flex-column" *ngIf="wrongUserPassword">
                <small class="alert-danger">Hasło nieprawidłowe</small>
            </div>
            <div class="d-flex flex-column"
                *ngIf="passwordUser.invalid && (passwordUser.dirty || passwordUser.touched)">
                <small class="alert-danger" *ngIf="passwordUser.errors?.required">Pole wymagane</small>
            </div>

            <input type="password" class="form-control mt-2" placeholder="Hasło" formControlName="passwordNew">
            <div class="d-flex flex-column" *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)">
                <small class="alert-danger" *ngIf="passwordNew.errors?.required">Pole wymagane</small>
                <small class="alert-danger" *ngIf="passwordNew.errors?.hasNumber">Hasło musi posiadać co najmniej jedną
                    cyfrę</small>
                <small class="alert-danger" *ngIf="passwordNew.errors?.hasCapitalCase">Hasło musi posiadać co najmniej
                    jedną wielką literę</small>
                <small class="alert-danger" *ngIf="passwordNew.errors?.hasSmallCase">Hasło musi posiadać co najmniej
                    jedną małą literę</small>
            </div>

            <input type="password" class="form-control mt-2" placeholder="Powtórz hasło"
                formControlName="passwordRepeat">
            <div class="d-flex flex-column"
                *ngIf="(passwordRepeat.invalid || editUserPasswordsFrom.invalid) && (passwordRepeat.dirty || passwordRepeat.touched)">
                <small class="alert-danger" *ngIf="passwordRepeat.errors?.required">Pole wymagane</small>
                <small class="alert-danger" *ngIf="editUserPasswordsFrom.errors?.passwordDifferent">Hasła się nie
                    zgadzają</small>
            </div>

            <button class="btn btn-primary mt-2" type="submit" [disabled]="!editUserPasswordsFrom.valid"
                (click)="editUserPasswords()">Edytuj</button>

            <div class="d-flex flex-column" *ngIf="editPasswordResult$ | async as result">
                <small class="alert-success" *ngIf="result.result && result.show">Dane zaktualizowane</small>
                <small class="alert-danger" *ngIf="!result.result  && result.show">Błąd</small>
            </div>
        </div>
    </form>

    <div class="form-group">
        <h5>Twoje jednostki</h5>
        <div *ngFor="let teamArray of editTeamsForms; let i=index">

            <form [formGroup]="teamArray" class="mb-3">
                <div class="d-flex justify-content-start">
                    <input type="text" class="form-control mr-1" formControlName="teamName">
                    <input type="text" class="form-control ml-1" formControlName="teamPatron">
                    <button class="btn btn-primary ml-1" type="submit">Edytuj</button>
                    <button class="btn btn-danger ml-1" type="submit"
                        (click)="deleteTeam(teamGroup(i).value?.teamId)">Usuń</button>
                </div>
                <div class="d-flex flex-column">
                    <small class="alert-success">Dane zaktualizowane</small>
                    <small class="alert-danger">Błąd</small>
                </div>
            </form>

        </div>
        <button class="btn btn-success">Dodaj</button>
    </div>

    <div>
        <button class="btn btn-secondary btn-block" routerLink="/home">Powrót</button>
    </div>
</main>