<app-menu></app-menu>

<div class="d-flex">

    <div class="my-page-side-container my-container-menu">

        <ng-container *ngIf="pageLoaded; else loading">

            <!-- ERROR HANDLING -->
            <div *ngIf="pageError">
                <app-error [error]="pageError"></app-error>
            </div>

            <!-- PAGE CONTENT -->
            <div *ngIf="!pageError">

                <app-page-header [header]="'add-edit-user.title-edit' | translate" [goBackRoute]="AppRoutes.HOME">
                </app-page-header>

                <form [formGroup]="credentialsForm">

                    <!-- CREDENTIALS -->
                    <div class="form-group">
                        <h5 translate>
                            common.personal-data
                        </h5>

                        <!-- Name -->
                        <div class="row mb-2">
                            <label for="name" class="col-sm-3 col-form-label required" translate>
                                common.name
                            </label>
                            <div class="col-sm-9">
                                <input id="name" type="text" class="form-control" formControlName="userName">

                                <!-- Errors -->
                                <div class="d-flex flex-column" *ngIf="userName.errors && userName.dirty">
                                    <small class="alert-danger" *ngIf="userName.hasError('required')" translate>
                                        errors.input-required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- Surname -->
                        <div class="row mb-2">
                            <label for="surname" class="col-sm-3 col-form-label required" translate>
                                common.surname
                            </label>
                            <div class="col-sm-9">
                                <input id="surname" type="text" class="form-control" formControlName="userSurname">

                                <div class="d-flex flex-column" *ngIf="userSurname.errors && userSurname.dirty">
                                    <small class="alert-danger" *ngIf="userSurname.hasError('required')" translate>
                                        errors.input-required
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="row mb-2">
                            <label for="email" class="col-sm-3 col-form-label" translate>
                                common.email
                            </label>
                            <div class="col-sm-9">
                                <input id="email" type="text" class="form-control" formControlName="userEmail">

                                <!-- Errors -->
                                <div class="d-flex flex-column" *ngIf="userEmail.errors && userEmail.dirty">
                                    <small class="alert-danger" *ngIf="userEmail.hasError('required')" translate>
                                        errors.input-required</small>
                                    <small class="alert-danger" *ngIf="userEmail.hasError('pattern')" translate>
                                        errors.email-format
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <!-- SUBMIT BUTTON -->
                            <button type="button" class="btn btn-primary button-add-user my-button" type="submit"
                                (click)="editCredentials()" [disabled]="!credentialsForm.valid" translate>
                                actions.edit
                            </button>
                        </div>

                    </div>
                </form>

                <form [formGroup]="passwordsForm">

                    <!-- PASSWORD -->
                    <div class="form-group">
                        <h5 translate>
                            add-edit-user.login-credentials
                        </h5>

                        <!-- Current password -->
                        <div class="row mb-2">
                            <label for="passwordCurrent" class="col-sm-3 col-form-label required" translate>
                                add-edit-user.current-password
                            </label>
                            <div class="col-sm-9">
                                <input id="passwordCurrent" type="password" class="form-control"
                                    formControlName="passwordCurrent">

                                <!-- Errors -->
                                <div class="d-flex flex-column"
                                    *ngIf="passwordCurrent.hasError('required') && passwordCurrent.dirty">
                                    <small class="alert-danger" translate>
                                        errors.input-required
                                    </small>
                                </div>
                                <div class="d-flex flex-column" *ngIf="validCurrentPassword === false">
                                    <small class="alert-danger" translate>
                                        errors.password-wrong
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- password -->
                        <div class="row mb-2">
                            <label for="password" class="col-sm-3 col-form-label required" translate>
                                add-edit-user.new-password
                            </label>
                            <div class="col-sm-9">
                                <input id="password" type="password" class="form-control" formControlName="passwordNew">

                                <!-- Errors -->
                                <div class="d-flex flex-column" *ngIf="passwordNew.errors && passwordNew.dirty">
                                    <small class="alert-danger" *ngIf="passwordNew.hasError('required')" translate>
                                        errors.input-required
                                    </small>
                                    <small class="alert-danger" *ngIf="passwordNew.hasError('hasNumber')" translate>
                                        errors.password-missing-digit
                                    </small>
                                    <small class="alert-danger" *ngIf="passwordNew.hasError('hasCapitalCase')"
                                        translate>
                                        errors.password-missing-capital
                                    </small>
                                    <small class="alert-danger" *ngIf="passwordNew.hasError('hasSmallCase')" translate>
                                        errors.password-lower-missing
                                    </small>
                                </div>
                            </div>
                        </div>

                        <!-- password repeat -->
                        <div class="row mb-2">
                            <label for="passwordRepeat" class="col-sm-3 col-form-label required" translate>
                                add-edit-user.repeat-password
                            </label>
                            <div class="col-sm-9">
                                <input id="passwordRepeat" type="password" class="form-control"
                                    formControlName="passwordRepeat">

                                <!-- Errors -->
                                <div class="d-flex flex-column"
                                    *ngIf="(passwordRepeat.errors || passwordsForm.errors) && passwordRepeat.dirty">
                                    <small class="alert-danger" *ngIf="passwordRepeat.hasError('required')" translate>
                                        errors.input-required
                                    </small>
                                    <small class="alert-danger" *ngIf="passwordsForm.hasError('passwordDifferent')"
                                        translate>
                                        errors.passwords-mismatch
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <!-- SUBMIT BUTTON -->
                            <button type="button" class="btn btn-primary button-add-user my-button" type="submit"
                                (click)="editPassword()" [disabled]="!passwordsForm.valid" translate>
                                actions.edit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>

    <!-- LEFT POSTER -->
    <div class="my-page-side-poster"></div>
</div>

<app-footer></app-footer>

<ng-template #loading>
    <app-page-spinner></app-page-spinner>
</ng-template>