<app-menu></app-menu>
<div class="my-page-content-container-with-menu">

  <app-page-header
    header="Edytuj użytkownika"
    src="assets/img/icons/editUser.png"></app-page-header>


  <div class="app-form-container">

    <form class="app-form" #credentials="ngForm" [formGroup]="credentialsForm">

      <div class="app-form-section">
        <h5>Edytuj swoje dane osobowe</h5>
        <label>
          <input formControlName="userName"
                 [ngClass]="displayFieldCssCredentials(credentials.form, 'userName')"
                 type="text" class="form-control" placeholder="Imię">
        </label>
        <label>
          <input formControlName="userSurname"
                 [ngClass]="displayFieldCssCredentials(credentials.form, 'userSurname')"
                 type="text" class="form-control" placeholder="Nazwisko">
        </label>
        <label>
          <input formControlName="userEmail"
                 type="text" class="form-control" placeholder="Email">
        </label>

        <button (click)="onSubmit(credentials.form)" class="button-secondary">Edytuj</button>
      </div>
    </form>

    <!--    -->

    <form class="app-form" [formGroup]="passwordsFrom">

      <div class="app-form-section">
        <h5>Zmień hasło</h5>
        <label>
          <input formControlName="userOldPassword"
                 type="text" class="form-control" placeholder="Aktualne hasło">
        </label>
        <label>
          <input formControlName="userNewPassword"
                 type="text" class="form-control" placeholder="Nowe Hasło">
        </label>
        <label>
          <input formControlName="userNewPasswordRepeat"
                 type="text" class="form-control" placeholder="Powtórz nowe hasło">
        </label>

        <button class="button-secondary">Edytuj</button>
      </div>
    </form>

  </div>
</div>
