<app-menu></app-menu>
<div class="my-page-content-container-with-menu">

  <app-page-header
    header="Edytuj użytkownika"
    src="assets/img/icons/editUser.png"></app-page-header>

  <div class="my-form">

    <!--  CREDENTIALS FORM-->
    <form class="my-form-column">
      <h5>Dane osobowe</h5>
      <label>
        <input class="my-input" name="first" ngModel required placeholder="Imię">
      </label>
      <label>
        <input class="my-input" name="last" ngModel required placeholder="Nazwisko">
      </label>
      <label>
        <input disabled="disabled" class="my-input" name="email" ngModel required placeholder="Email">
      </label>

      <button class="button-secondary">Edytuj</button>
    </form>

    <!--  PASSWORD FORM-->
    <form class="my-form-column">
      <h5>Hasło</h5>
      <label>
        <input class="my-input" name="password" ngModel required placeholder="Stare hasło">
      </label>
      <label class="my-checkbox">
        <input type="checkbox" id="showOldPasswd" name="remember">Pokaż hasło
      </label>
      <label>
        <input class="my-input" name="repeatPasswd" ngModel required placeholder="Nowe hasło">
      </label>
      <label>
        <input class="my-input" name="repeatPasswd" ngModel required placeholder="Powtórz nowe hasło">
      </label>
      <label class="my-checkbox">
        <input type="checkbox" id="showNewPasswd" name="remember">Pokaż hasło
      </label>

      <button class="button-secondary">Edytuj</button>
    </form>

    <!--  FIRST TEAM FORM-->
    <div class="my-form-column">
      <app-user-team-manager></app-user-team-manager>
    </div>
  </div>

  <div class="buttons-container">
    <button routerLink="/home" class="button-primary">Powrót</button>
  </div>
</div>
